Repository rpeowiqu/damul: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client-build, server-build, client-test, server-test

client-build:
  tags:
  - docker
  image: docker:latest
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN
  script:
  - docker build -t $CLIENT_DOCKER_IMAGE ./damul-client
  - docker push $CLIENT_DOCKER_IMAGE

server-build:
  tags:
  - docker
  image: docker:latest
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN
  script:
  - docker build -t $SERVER_DOCKER_IMAGE ./damul-server
  - docker push $SERVER_DOCKER_IMAGE

client-test:
  tags:
  - docker
  stage: test
  image: node:16
  script:
  - cd damul-client
  - npm ci
  - npm run test

server-test:
  tags:
  - docker
  stage: test
  image: gradle:8.12-jdk17
  script:
  - cd damul-server
  - gradle clean test

Fix : Add missing '/' to correct path [신성우]
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
Due: client-build, client-test

Fix : Remove loading in suspense and fix overlay size [윤서희]
  damul-client/src/components/common/Layout.tsx
  damul-client/src/pages/admin/AdminPostPage.tsx
  damul-client/src/pages/community/CommunityPage.tsx
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
  damul-client/src/pages/profile/ProfileFriendPage.tsx
  damul-client/src/pages/profile/ProfilePage.tsx
  damul-client/src/routes/homeRoutes.tsx
Due: client-build, client-test

Refactor: add rest api to send image message[한재서]
  damul-server/src/main/java/com/damul/api/chat/controller/RestChatController.java
  damul-server/src/main/java/com/damul/api/chat/controller/StompChatController.java
  damul-server/src/main/java/com/damul/api/chat/dto/request/ChatMessageCreate.java
  damul-server/src/main/java/com/damul/api/chat/dto/response/ChatImageUploadResponse.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatMessageService.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatMessageServiceImpl.java
  damul-server/src/main/java/com/damul/api/chat/service/WebSocketService.java
  damul-server/src/main/java/com/damul/api/chat/service/WebSocketServiceImpl.java
  damul-server/src/main/java/com/damul/api/common/exception/ErrorCode.java
  damul-server/src/main/java/com/damul/api/common/sse/EmitterInfo.java
Due: server-build, server-test

Fix: Bugfix with image rendering[한재서]
  damul-server/src/main/java/com/damul/api/chat/dto/response/ChatImageUploadResponse.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Fix: Bugfix with image rendering[한재서]
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Fix: Bugfix with image rendering[한재서]
  damul-server/src/main/java/com/damul/api/chat/controller/RestChatController.java
Due: server-build, server-test

Fix : Fix self introduction layout style in signup page [전종우\
  damul-client/src/components/signup/InfoForm.tsx
Due: client-build, client-test

Feat : Add image send api [윤서희]
  damul-client/src/pages/chat/ChattingRoomPage.tsx
  damul-client/src/service/chatting.ts
Due: client-build, client-test

HOTFIX: Bugfix for login failed when user has no chat rooms[한재서]
  damul-server/src/main/java/com/damul/api/chat/repository/ChatMessageRepository.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatMessageServiceImpl.java
  damul-server/src/main/java/com/damul/api/chat/service/UnreadMessageService.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

HOTFIX: Bugfix for login failed when user has no chat rooms[한재서]
  damul-server/src/main/java/com/damul/api/auth/entity/User.java
  damul-server/src/main/java/com/damul/api/post/entity/Post.java
  damul-server/src/main/java/com/damul/api/post/entity/PostComment.java
  damul-server/src/main/java/com/damul/api/post/entity/PostImage.java
  damul-server/src/main/java/com/damul/api/recipe/entity/Recipe.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Fix : Fix alarm url & Remove tag from carousel [윤서희]
  damul-client/src/components/alarm/AlarmItem.tsx
  damul-client/src/components/community/PopularRecipeCarousel.tsx
Due: client-build, client-test

HotFix: Bugfix for updating other users' ingredient quantity[한재서]
  damul-server/src/main/java/com/damul/api/main/controller/HomeController.java
  damul-server/src/main/java/com/damul/api/main/repository/UserIngredientRepository.java
  damul-server/src/main/java/com/damul/api/main/service/HomeService.java
  damul-server/src/main/java/com/damul/api/main/service/HomeServiceImpl.java
Due: server-build, server-test

Fix : Fix overlay size in loading page [윤서희]
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
Due: client-build, client-test

Chore : Modify api path [신성우]
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
Due: client-build, client-test

Fix: Modify user search [지유림]
  damul-server/src/main/java/com/damul/api/user/repository/UserRepository.java
  damul-server/src/main/java/com/damul/api/user/service/UserServiceImpl.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Fix : Add line break in chat room [윤서희]
  damul-client/src/components/chat/ChattingBubble.tsx
Due: client-build, client-test

Fix : Resize textarea after sending message [윤서희]
  damul-client/src/pages/chat/ChattingRoomPage.tsx
Due: client-build, client-test

Fix : Add Edit mode delete props amd SSE reconnection logic [신성우]
  damul-client/src/pages/home/HomeIngredientsEditPage.tsx
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
Due: client-build, client-test

Fix: modify calculate food preference badge scheduling[한재서]
  damul-server/src/main/java/com/damul/api/mypage/service/BadgeService.java
Due: server-build, server-test

Fix: modify calculate food preference badge scheduling[한재서]
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Fix: Bugfix with SSE service[한재서]
  damul-server/src/main/java/com/damul/api/common/sse/SseController.java
  damul-server/src/main/java/com/damul/api/common/sse/service/SseService.java
Due: server-build, server-test

Fix: Bugfix with redis timeout[한재서]
  damul-server/src/main/java/com/damul/api/common/sse/service/SseService.java
Due: server-build, server-test

Fix : Add SSE reconnection request logic [신성우]
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
Due: client-build, client-test

Fix : fix intro layout height issue and add transition arrow [전종우] - Change 401 status location - Fix admin page router
  damul-client/src/components/intro/IntroContent.tsx
  damul-client/src/components/intro/IntroItem.tsx
  damul-client/src/routes/router.tsx
  damul-client/src/service/http.ts
Due: client-build, client-test

Feat : Add 404 page [윤서희]
  damul-client/src/pages/notFound/NotFoundPage.tsx
  damul-client/tailwind.css
Due: client-build, client-test

Refactor : Add readOnly boolean props because of Component Reusability [신성우]
  damul-client/src/components/home/IngredientDetail.tsx
  damul-client/src/components/home/IngredientStorageContainer.tsx
  damul-client/src/pages/profile/ProfileIngredientsPage.tsx
Due: client-build, client-test

Refactor condition: Simplified suggestedRecipe length check [신성우]
  damul-client/src/components/common/DamulCarousel.tsx
Due: client-build, client-test

Fix: Prevent empty ingredient registration by validating prevData [신성우]
  damul-client/src/components/home/OcrButton.tsx
Due: client-build, client-test

Fix : Add alert when comment is null [윤서희]
  damul-client/src/components/common/CommentInput.tsx
Due: client-build, client-test

Fix : Add focus to comment & search input when landed on page [윤서희]
  damul-client/src/components/common/CommentInput.tsx
  damul-client/src/components/common/DamulSearchBox.tsx
  damul-client/src/components/community/CommunitySearch.tsx
  damul-client/src/components/community/FixedCommentInfo.tsx
Due: client-build, client-test

Design : Add diff info to statistics price graph for increasing readability [전종우]
  damul-client/src/pages/statistics/StatisticsTrendPage.tsx
Due: client-build, client-test

Style : Fix 404 page layout & style [윤서희]
  damul-client/src/pages/notFound/NotFoundPage.tsx
Due: client-build, client-test

Fix : Modify default visibility of users's accessRange to private [지유림]
  damul-server/src/main/java/com/damul/api/auth/entity/User.java
Due: server-build, server-test

Fix: Modify sse settings[한재서]
  damul-server/src/main/java/com/damul/api/common/sse/SseController.java
  damul-server/src/main/java/com/damul/api/common/sse/service/SseService.java
  damul-server/src/main/java/com/damul/api/config/SecurityConfig.java
Due: server-build, server-test

Chore: upgrade gpt prompting and ocr setting [윤혜진]
  damul-ocr/services/gpt_service.py
  damul-ocr/services/ocr_service.py
Due: none

Chore: add sending message to client before ocr start[한재서]
  damul-server/src/main/java/com/damul/api/main/service/HomeServiceImpl.java
Due: server-build, server-test

Fix: Bugfix with image message type[한재서]
  damul-server/src/main/java/com/damul/api/chat/entity/ChatMessage.java
Due: server-build, server-test

Chore: add async security config[한재서]
  damul-ocr/main.py
  damul-server/src/main/java/com/damul/api/common/sse/service/SseService.java
  damul-server/src/main/java/com/damul/api/config/SecurityConfig.java
Due: server-build, server-test

Path conditions:
  client-build: any of: damul-client/**/*
  server-build: any of: damul-server/**/*
  client-test: any of: damul-client/**/*
  server-test: any of: damul-server/**/*
