Repository rpeowiqu/damul: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client-build, server-build, client-test, server-test

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy

# 클라이언트 빌드 작업
client-build:
  tags:
    - docker
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN
  script:
    - docker build -t $CLIENT_DOCKER_IMAGE ./damul-client
    - docker push $CLIENT_DOCKER_IMAGE
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^Client|client-develop|master$/'
      changes:
        - "damul-client/**/*"

# 서버 빌드 작업
server-build:
  tags:
    - docker
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN
  script:
    - docker build -t $SERVER_DOCKER_IMAGE ./damul-server
    - docker push $SERVER_DOCKER_IMAGE
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^Server|server-develop|master$/'
      changes:
        - "damul-server/**/*"

# 클라이언트 테스트 작업
client-test:
  tags:
    - docker
  stage: test
  image: node:16
  script:
    - cd damul-client
    - npm ci
    - npm run test
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^Client|client-develop|master$/ && $CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    - if: '$CI_COMMIT_BRANCH =~ /^Client|client-develop|master$/'
      changes:
        - "damul-client/**/*"

# 서버 테스트 작업
server-test:
  tags:
    - docker
  stage: test
  image: gradle:8.12-jdk17
  script:
    - cd damul-server
    - gradle clean test
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^Server|server-develop|master$/ && $CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    - if: '$CI_COMMIT_BRANCH =~ /^Server|server-develop|master$/'
      changes:
        - "damul-server/**/*"

# 배포 작업
deploy:
  tags:
    - docker
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | base64 -d > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H $EC2_HOST >> ~/.ssh/known_hosts
  script:
    - |
      # Client 브랜치 배포: 클라이언트 컨테이너만 배포
      if [[ "$CI_COMMIT_BRANCH" == "Client" ]]; then
        ssh $EC2_USER@$EC2_HOST "
          cd /home/ubuntu/S12P11A306 &&
          docker pull $CI_REGISTRY_IMAGE/client:latest &&
          docker-compose -f docker-compose.prod.yml up -d server"
      fi

      # Server 브랜치 배포: 서버 컨테이너만 배포
      if [[ "$CI_COMMIT_BRANCH" == "Server" ]]; then
        ssh $EC2_USER@$EC2_HOST "
          cd /home/ubuntu/S12P11A306 &&
          docker pull $CI_REGISTRY_IMAGE/server:latest &&
          docker-compose -f docker-compose.prod.yml up -d server"
      fi

      # master 브랜치 배포: 클라이언트와 서버 컨테이너 모두 배포
      if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then
        ssh $EC2_USER@$EC2_HOST "
          cd /home/ubuntu/S12P11A306 &&
          docker pull $CI_REGISTRY_IMAGE/server:latest &&
          docker-compose -f docker-compose.prod.yml up -d server"
      fi

      # master 브랜치 배포: 클라이언트와 서버 컨테이너 모두 배포
      if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then
        ssh $EC2_USER@$EC2_HOST "
          cd /home/ubuntu/S12P11A306 &&
          docker pull $CI_REGISTRY_IMAGE/client:latest &&
          docker pull $CI_REGISTRY_IMAGE/server:latest &&
          docker-compose -f docker-compose.prod.yml up -d server"
      fi
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^Client|Server|master$/'

Fix: Bugfix with new chat room member's joined at[한재서]
  damul-server/src/main/java/com/damul/api/chat/entity/ChatRoomMember.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatRoomServiceImpl.java
Due: server-build, server-test

Fix: Bugfix about meta[한재서]
  damul-server/src/main/java/com/damul/api/chat/service/ChatMessageServiceImpl.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatRoomServiceImpl.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Fix: Bugfix about meta[한재서]
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Design : Change layout [전종우]
  damul-client/src/components/chat/ChattingListInfiniteScroll.tsx
  damul-client/src/components/chat/ChattingMenuButton.tsx
  damul-client/src/components/community/FixedCommentInfo.tsx
  damul-client/src/pages/alarm/AlarmPage.tsx
  damul-client/src/pages/chat/ChattingMainPage.tsx
  damul-client/src/pages/chat/ChattingRoomPage.tsx
  damul-client/src/pages/community/CommunityMarketMainPage.tsx
  damul-client/src/pages/profile/ProfileFriendPage.tsx
Due: client-build, client-test

Fix : Fix routes expression[신성우]
  damul-client/src/routes/chatRoutes.tsx
Due: client-build, client-test

Design : Modify Style code of Ingredient Edit Page [신성우]
  damul-client/src/components/home/IngredientDeleteOverview.tsx
  damul-client/src/pages/home/HomeIngredientsEditPage.tsx
Due: client-build, client-test

Fix : Add expiring soon condition logic [신성우]
  damul-client/src/pages/home/HomePage.tsx
Due: client-build, client-test

Design : Modify Style code of Edit page and etc part style [신성우]
  damul-client/src/components/home/IngredientButton.tsx
  damul-client/src/pages/chat/ChattingSearchPage.tsx
  damul-client/src/pages/chat/ChattingSearchResultPage.tsx
  damul-client/src/pages/home/HomeIngredientsEditPage.tsx
  damul-client/src/pages/qrcode/QrCodePage.tsx
  damul-client/src/routes/homeRoutes.tsx
Due: client-build, client-test

Fix: Bugfix with get chat messages[한재서]
  damul-server/src/main/java/com/damul/api/chat/service/ChatMessageServiceImpl.java
Due: server-build, server-test

Fix : Fix chatting room meta bug [전종우] - Change category icon in smart receipt
  damul-client/src/components/chat/ChattingMenuButton.tsx
  damul-client/src/components/community/CommentsSection.tsx
  damul-client/src/components/statistics/ReceiptItem.tsx
  damul-client/src/pages/chat/ChattingMainPage.tsx
  damul-client/src/pages/chat/ChattingRoomPage.tsx
  damul-client/src/pages/chat/ChattingSearchPage.tsx
  damul-client/src/types/statistics.ts
Due: client-build, client-test

Temp : temp empty page routing [신성우]
  damul-client/src/pages/chat/ChattingRoomPage.tsx
Due: client-build, client-test

Fix: Fix system message's created time in seoul time[한재서]
  damul-server/src/main/java/com/damul/api/chat/service/ChatMessageServiceImpl.java
Due: server-build, server-test

Init
  .gitattributes
  .gitignore
  .gitlab/merge_request_templates/mrTemplate.md
  README.md
  exec/.gitkeep
  exec/1. 빌드 및 배포 정리.md
  exec/2. 외부서비스.md
  exec/3._DB_덤프_데이터.sql
  exec/4. 시연시나리오.md
Due: none

Design : Apply DamulSection to profile pages [전종우]
  damul-client/src/pages/profile/ProfileInfoPage.tsx
  damul-client/src/pages/profile/ProfileIngredientsPage.tsx
Due: client-build, client-test

Docs: update README.md[한재서]
  README.md
Due: none

Docs: update README.md[한재서]
  images/baduser.png
  images/chat-detail.png
  images/chat-list.png
  images/chat-start.png
  images/logo.png
  images/main-mobile-delete.png
  images/main-mobile-intro.png
  images/main-mobile-manage.png
  images/my-ingre.png
  images/ocr-mobile-camera.png
  images/ocr-mobile-input.png
  images/ocr-pc-input.png
  images/other-refri1.png
  images/other-refri2.png
  images/recipe-down.png
  images/recipe-list.png
  images/recipe-middle.png
  images/recipe-up.png
  images/share-down.png
  images/share-list.png
  images/share-up.png
  images/statics-history.png
  images/statics-mobile.png
  images/statics-reciept.png
Due: none

Update README.md
  README.md
Due: none
