Repository rpeowiqu/damul: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client-build, server-build, client-test, server-test

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy

# 클라이언트 빌드 작업
client-build:
  tags:
    - docker
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN
  script:
    - docker build -t $CLIENT_DOCKER_IMAGE ./damul-client
    - docker push $CLIENT_DOCKER_IMAGE
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^Client|client-develop|master$/'
      changes:
        - "damul-client/**/*"

# 서버 빌드 작업
server-build:
  tags:
    - docker
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN
  script:
    - docker build -t $SERVER_DOCKER_IMAGE ./damul-server
    - docker push $SERVER_DOCKER_IMAGE
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^Server|server-develop|master$/'
      changes:
        - "damul-server/**/*"

# 클라이언트 테스트 작업
client-test:
  tags:
    - docker
  stage: test
  image: node:16
  script:
    - cd damul-client
    - npm ci
    - npm run test
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^Client|client-develop|master$/ && $CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    - if: '$CI_COMMIT_BRANCH =~ /^Client|client-develop|master$/'
      changes:
        - "damul-client/**/*"

# 서버 테스트 작업
server-test:
  tags:
    - docker
  stage: test
  image: gradle:8.12-jdk17
  script:
    - cd damul-server
    - gradle clean test
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^Server|server-develop|master$/ && $CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    - if: '$CI_COMMIT_BRANCH =~ /^Server|server-develop|master$/'
      changes:
        - "damul-server/**/*"

# 배포 작업
deploy:
  tags:
    - docker
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | base64 -d > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H $EC2_HOST >> ~/.ssh/known_hosts
  script:
    - |
      # Client 브랜치 배포: 클라이언트 컨테이너만 배포
      if [[ "$CI_COMMIT_BRANCH" == "Client" ]]; then
        ssh $EC2_USER@$EC2_HOST "
          cd /home/ubuntu/S12P11A306 &&
          docker pull $CI_REGISTRY_IMAGE/client:latest &&
          docker-compose -f docker-compose.prod.yml up -d server"
      fi

      # Server 브랜치 배포: 서버 컨테이너만 배포
      if [[ "$CI_COMMIT_BRANCH" == "Server" ]]; then
        ssh $EC2_USER@$EC2_HOST "
          cd /home/ubuntu/S12P11A306 &&
          docker pull $CI_REGISTRY_IMAGE/server:latest &&
          docker-compose -f docker-compose.prod.yml up -d server"
      fi

      # master 브랜치 배포: 클라이언트와 서버 컨테이너 모두 배포
      if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then
        ssh $EC2_USER@$EC2_HOST "
          cd /home/ubuntu/S12P11A306 &&
          docker pull $CI_REGISTRY_IMAGE/server:latest &&
          docker-compose -f docker-compose.prod.yml up -d server"
      fi

      # master 브랜치 배포: 클라이언트와 서버 컨테이너 모두 배포
      if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then
        ssh $EC2_USER@$EC2_HOST "
          cd /home/ubuntu/S12P11A306 &&
          docker pull $CI_REGISTRY_IMAGE/client:latest &&
          docker pull $CI_REGISTRY_IMAGE/server:latest &&
          docker-compose -f docker-compose.prod.yml up -d server"
      fi
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^Client|Server|master$/'

Refactor: Modify stomp api for chatting system[한재서] - modify endpoints - seperate websocket controller and service
  damul-server/src/main/java/com/damul/api/chat/controller/StompChatController.java
  damul-server/src/main/java/com/damul/api/chat/dto/request/ChatMessageCreate.java
  damul-server/src/main/java/com/damul/api/chat/dto/request/ChatReadRequest.java
  damul-server/src/main/java/com/damul/api/chat/service/WebSocketService.java
  damul-server/src/main/java/com/damul/api/chat/service/WebSocketServiceImpl.java
Due: server-build, server-test

Refactor: modify sending image chat message logic[한재서] - add class for convert base64 image info to multipartfile - modify service logic using the class
  damul-server/src/main/java/com/damul/api/chat/dto/request/ChatMessageCreate.java
  damul-server/src/main/java/com/damul/api/chat/service/WebSocketServiceImpl.java
  damul-server/src/main/java/com/damul/api/common/socket/Base64MultipartFile.java
  damul-server/src/main/java/com/damul/api/notification/controller/NotificationController.java
  damul-server/src/main/java/com/damul/api/notification/service/NotificationService.java
  damul-server/src/main/java/com/damul/api/notification/service/NotificationServiceImpl.java
Due: server-build, server-test

Fix : Fix layout component and statistics pages router setting [전종우] - Remove index.tsx file
  damul-client/src/components/common/Layout.tsx
  damul-client/src/pages/profile/ProfileFriendPage.tsx
  damul-client/src/routes/index.tsx
  damul-client/src/routes/router.tsx
  damul-client/src/routes/statisticsRoutes.tsx
Due: client-build, client-test

Fix: Bugfix for get chat messages[한재서] - add validation in ChatRoomServiceImpl
  damul-server/src/main/java/com/damul/api/chat/controller/RestChatController.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatMessageServiceImpl.java
  damul-server/src/main/java/com/damul/api/common/exception/ErrorCode.java
Due: server-build, server-test

Fix : Fix error while mr [윤서희] - size of infiniteScroll - memberNum in chatting page
  damul-client/src/components/chat/ChattingMenuButton.tsx
  damul-client/src/pages/chat/ChattingRoomPage.tsx
  damul-client/src/pages/community/CommunityMarketMainPage.tsx
  damul-client/src/pages/community/CommunityMarketSearchResultPage.tsx
  damul-client/src/pages/community/CommunityRecipeMainPage.tsx
  damul-client/src/pages/community/CommunityRecipeSearchResultPage.tsx
  damul-client/src/service/chatting.ts
Due: client-build, client-test

Fix : Modify incorrect URI paths in UserController [지유림]
  damul-server/src/main/java/com/damul/api/auth/service/AuthService.java
  damul-server/src/main/java/com/damul/api/user/controller/UserController.java
  damul-server/src/main/java/com/damul/api/user/service/UserService.java
  damul-server/src/main/java/com/damul/api/user/service/UserServiceImpl.java
Due: server-build, server-test

Fix : Resolve rendering problem because of react component key props [신성우]
  damul-client/src/pages/home/HomeIngredientsEditPage.tsx
  damul-client/src/pages/home/HomePage.tsx
Due: client-build, client-test

Fix : Resolve error message related to Dialog ui component [신성우]
  damul-client/src/components/common/DamulModal.tsx
  damul-client/src/components/common/Layout.tsx
Due: client-build, client-test

Chore : Change docker file content [전종우]
  damul-client/Dockerfile
Due: client-build, client-test

Feat : Change api endpoint related user [전종우]
  damul-client/src/pages/profile/ProfileFriendFollowerPage.tsx
  damul-client/src/pages/profile/ProfileFriendFollowingPage.tsx
  damul-client/src/pages/setting/SettingPage.tsx
  damul-client/src/service/user.ts
Due: client-build, client-test

HotFix : Modify CookieUtil domain [지유림]
  damul-server/src/main/java/com/damul/api/auth/util/CookieUtil.java
  damul-server/src/main/java/com/damul/api/user/controller/UserController.java
  damul-server/src/main/java/com/damul/api/user/dto/request/FollowRequest.java
  damul-server/src/main/java/com/damul/api/user/service/FollowServiceImpl.java
Due: server-build, server-test

Fix: allow credential [윤혜진]
  damul-ocr/__pycache__/config.cpython-39.pyc
  damul-ocr/__pycache__/main.cpython-39.pyc
  damul-ocr/main.py
  damul-ocr/services/__pycache__/__init__.cpython-39.pyc
  damul-ocr/services/__pycache__/gpt_service.cpython-39.pyc
  damul-ocr/services/__pycache__/ocr_service.cpython-39.pyc
  damul-ocr/services/gpt_service.py
Due: none

Fix: add gpt data processing method [윤혜진]
  damul-ocr/services/gpt_service.py
Due: none

Fix: add allow_origins [윤혜진]
  damul-ocr/main.py
Due: none

Fix: change data cleaning code [윤혜진]
  damul-ocr/services/gpt_service.py
Due: none

Fix : Modify JwtTokenRefreshFilter add login uri [지유림]
  damul-server/src/main/java/com/damul/api/auth/filter/JwtTokenRefreshFilter.java
Due: server-build, server-test

Feat : Add OCR api connection [신성우]
  damul-client/src/components/home/OcrButton.tsx
  damul-client/src/constants/category.ts
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
  damul-client/src/pages/login/LoginPage.tsx
  damul-client/src/routes/homeRoutes.tsx
  damul-client/src/service/home.ts
Due: client-build, client-test

Chore : Temp add route for Test, Onboarding page not yet completed [신성우]
  damul-client/src/routes/router.tsx
Due: client-build, client-test

Fix : modify securityFilter [지유림]
  damul-server/src/main/java/com/damul/api/config/SecurityConfig.java
Due: server-build, server-test

Fix : Add securityConfig add endpoint [지유림]
  damul-server/src/main/java/com/damul/api/config/SecurityConfig.java
Due: server-build, server-test

Feat : Change user auth info storing method [전종우] - Replate useUserStore to useAuth custom hook
  damul-client/src/components/chat/ChattingBubble.tsx
  damul-client/src/components/common/Footer.tsx
  damul-client/src/components/common/Header.tsx
  damul-client/src/components/community/AuthorInfo.tsx
  damul-client/src/components/community/CommentItem.tsx
  damul-client/src/components/community/CommunityDetailHeader.tsx
  damul-client/src/components/community/ReplyItem.tsx
  damul-client/src/components/home/ConfirmDeleteModal.tsx
  damul-client/src/components/home/IngredientDetail.tsx
  damul-client/src/components/home/UserGreeting.tsx
  damul-client/src/components/profile/ProfileBanner.tsx
  damul-client/src/hooks/useAuth.ts
  damul-client/src/pages/admin/AdminUserPage.tsx
  damul-client/src/pages/profile/ProfileFriendFollowerPage.tsx
  damul-client/src/pages/profile/ProfileFriendFollowingPage.tsx
  damul-client/src/pages/profile/ProfileInfoPage.tsx
  damul-client/src/pages/profile/ProfilePage.tsx
  damul-client/src/pages/setting/SettingPage.tsx
  damul-client/src/service/auth.ts
  damul-client/src/service/user.ts
  damul-client/src/stores/user.ts
  damul-client/src/types/auth.ts
  damul-client/src/types/user.ts
Due: client-build, client-test

Fix : fix button component change, and key props edit [신성우]
  damul-client/src/components/home/IngredientDetail.tsx
  damul-client/src/components/home/IngredientItem.tsx
Due: client-build, client-test

Fix: Remove '/' path in authorizeHttpRequests[한재서]
  damul-server/src/main/java/com/damul/api/config/SecurityConfig.java
Due: server-build, server-test

Fix: Add frontUrl in oauth2.loginPage[한재서]
  damul-server/src/main/java/com/damul/api/config/SecurityConfig.java
Due: server-build, server-test

Fix: Remove '/login' path in authorizeHttpRequests[한재서]
  damul-server/src/main/java/com/damul/api/config/SecurityConfig.java
Due: server-build, server-test

Fix: Remove '/login' path in jwt filter[한재서]
  damul-server/src/main/java/com/damul/api/auth/filter/JwtTokenRefreshFilter.java
Due: server-build, server-test

Fix: Remove frontUrl path in security config[한재서]
  damul-server/src/main/java/com/damul/api/config/SecurityConfig.java
Due: server-build, server-test

Fix: add '/login' path in authorize url[한재서]
  damul-server/src/main/java/com/damul/api/auth/filter/JwtTokenRefreshFilter.java
  damul-server/src/main/java/com/damul/api/config/SecurityConfig.java
Due: server-build, server-test

Fix : Add ReceiptCalendarResponse add field [지유림]
  damul-server/src/main/java/com/damul/api/receipt/controller/ReceiptController.java
  damul-server/src/main/java/com/damul/api/receipt/dto/response/ReceiptCalendarResponse.java
  damul-server/src/main/java/com/damul/api/receipt/service/UserReceiptService.java
  damul-server/src/main/java/com/damul/api/receipt/service/UserReceiptServiceImpl.java
Due: server-build, server-test

Fix : Modify CookieUtil [지유림]
  damul-server/build.gradle
  damul-server/src/main/java/com/damul/api/auth/util/CookieUtil.java
  damul-server/src/main/java/com/damul/api/config/JwtConfig.java
  damul-server/src/main/java/com/damul/api/ingredient/dto/response/IngredientsCategoryResponse.java
  damul-server/src/main/java/com/damul/api/ingredient/service/IngredientPriceServiceImpl.java
  damul-server/src/main/java/com/damul/api/receipt/controller/ReceiptController.java
  damul-server/src/main/java/com/damul/api/receipt/dto/response/ReceiptCalendarResponse.java
  damul-server/src/main/java/com/damul/api/receipt/entity/FoodCategories.java
  damul-server/src/main/java/com/damul/api/receipt/repository/FoodCategoriesRepository.java
  damul-server/src/main/java/com/damul/api/receipt/service/UserReceiptServiceImpl.java
  damul-server/src/main/resources/application.yml
  damul-server/src/test/resources/application-test.yml
Due: server-build, server-test

Fix : Modify application.yml logging [지유림]
  damul-server/src/main/java/com/damul/api/config/JwtConfig.java
  damul-server/src/main/java/com/damul/api/user/repository/UserRepository.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Feat : Complete statistics history page api [전종우]
  damul-client/src/components/common/AnimatedArrow.tsx
  damul-client/src/components/common/AnimatedNumberText.tsx
  damul-client/src/components/common/Layout.tsx
  damul-client/src/components/statistics/ReceiptItem.tsx
  damul-client/src/components/svg/BarcodeIcon.tsx
  damul-client/src/pages/statistics/StatisticsHistoryPage.tsx
  damul-client/src/service/statistics.ts
  damul-client/src/types/statistics.ts
Due: client-build, client-test

Fix: Modify follow api url [지유림]
  damul-server/src/main/java/com/damul/api/user/controller/UserController.java
Due: server-build, server-test

Design : Design community components [윤서희] - bookmark icon - text size - skeleton in community detail page - format dates
  damul-client/src/components/common/Layout.tsx
  damul-client/src/components/common/PostFeedCard.tsx
  damul-client/src/components/common/RecipeFeedCard.tsx
  damul-client/src/components/community/AuthorInfo.tsx
  damul-client/src/components/community/CommentItem.tsx
  damul-client/src/components/community/CommentsSection.tsx
  damul-client/src/components/community/CommunityDetailHeader.tsx
  damul-client/src/components/community/ContentSection.tsx
  damul-client/src/components/community/CookingOrderSection.tsx
  damul-client/src/components/community/IngredientsSection.tsx
  damul-client/src/components/community/ReplyItem.tsx
  damul-client/src/components/svg/ListBookmarkIcon.tsx
  damul-client/src/main.tsx
  damul-client/src/pages/community/CommunityMarketDetailPage.tsx
  damul-client/src/pages/community/CommunityRecipeDetailPage.tsx
  damul-client/src/service/chatting.ts
  damul-client/src/utils/date.ts
Due: client-build, client-test

Design : Add motion to like icon [윤서희]
  damul-client/src/components/community/AuthorInfo.tsx
  damul-client/src/components/community/CommunityDetailHeader.tsx
Due: client-build, client-test

Feat : Add enter chat api to follower, following pages [전종우]
  damul-client/src/pages/profile/ProfileFriendFollowerPage.tsx
  damul-client/src/pages/profile/ProfileFriendFollowingPage.tsx
Due: client-build, client-test

Feat : Add badge api to profile pages [전종우] - Rename service/mypages.tsx to profile.tsx
  damul-client/src/components/profile/Badge.tsx
  damul-client/src/components/profile/BadgeShowcase.tsx
  damul-client/src/pages/profile/ProfileBadgePage.tsx
  damul-client/src/pages/profile/ProfileBookmarkPage.tsx
  damul-client/src/pages/profile/ProfileInfoPage.tsx
  damul-client/src/pages/profile/ProfilePage.tsx
  damul-client/src/pages/profile/ProfileRecipePage.tsx
  damul-client/src/service/profile.ts
  damul-client/src/types/profile.ts
Due: client-build, client-test

Feat : Add no conent guide text to my recipe, bookmark page [전종우] - Add props DamulInfiniteScrollList component
  damul-client/src/components/common/DamulInfiniteScrollList.tsx
  damul-client/src/pages/profile/ProfileBookmarkPage.tsx
  damul-client/src/pages/profile/ProfileRecipePage.tsx
Due: client-build, client-test

Fix : Fix DamulInfiniteScrollList props and remove unnecessary html element [전종우]
  damul-client/src/components/common/DamulInfiniteScrollList.tsx
Due: client-build, client-test
