Repository rpeowiqu/damul: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client-build, server-build, client-test, server-test

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy

# 클라이언트 빌드 작업
client-build:
  tags:
    - docker
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN
  script:
    - docker build -t $CLIENT_DOCKER_IMAGE ./damul-client
    - docker push $CLIENT_DOCKER_IMAGE
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^Client|client-develop|master$/'
      changes:
        - "damul-client/**/*"

# 서버 빌드 작업
server-build:
  tags:
    - docker
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN
  script:
    - docker build -t $SERVER_DOCKER_IMAGE ./damul-server
    - docker push $SERVER_DOCKER_IMAGE
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^Server|server-develop|master$/'
      changes:
        - "damul-server/**/*"

# 클라이언트 테스트 작업
client-test:
  tags:
    - docker
  stage: test
  image: node:16
  script:
    - cd damul-client
    - npm ci
    - npm run test
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^Client|client-develop|master$/ && $CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    - if: '$CI_COMMIT_BRANCH =~ /^Client|client-develop|master$/'
      changes:
        - "damul-client/**/*"

# 서버 테스트 작업
server-test:
  tags:
    - docker
  stage: test
  image: gradle:8.12-jdk17
  script:
    - cd damul-server
    - gradle clean test
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^Server|server-develop|master$/ && $CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    - if: '$CI_COMMIT_BRANCH =~ /^Server|server-develop|master$/'
      changes:
        - "damul-server/**/*"

# 배포 작업
deploy:
  tags:
    - docker
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | base64 -d > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H $EC2_HOST >> ~/.ssh/known_hosts
  script:
    - |
      # Client 브랜치 배포: 클라이언트 컨테이너만 배포
      if [[ "$CI_COMMIT_BRANCH" == "Client" ]]; then
        ssh $EC2_USER@$EC2_HOST "
          cd /home/ubuntu/S12P11A306 &&
          docker pull $CI_REGISTRY_IMAGE/client:latest &&
          docker-compose -f docker-compose.prod.yml up -d server"
      fi

      # Server 브랜치 배포: 서버 컨테이너만 배포
      if [[ "$CI_COMMIT_BRANCH" == "Server" ]]; then
        ssh $EC2_USER@$EC2_HOST "
          cd /home/ubuntu/S12P11A306 &&
          docker pull $CI_REGISTRY_IMAGE/server:latest &&
          docker-compose -f docker-compose.prod.yml up -d server"
      fi

      # master 브랜치 배포: 클라이언트와 서버 컨테이너 모두 배포
      if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then
        ssh $EC2_USER@$EC2_HOST "
          cd /home/ubuntu/S12P11A306 &&
          docker pull $CI_REGISTRY_IMAGE/server:latest &&
          docker-compose -f docker-compose.prod.yml up -d server"
      fi

      # master 브랜치 배포: 클라이언트와 서버 컨테이너 모두 배포
      if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then
        ssh $EC2_USER@$EC2_HOST "
          cd /home/ubuntu/S12P11A306 &&
          docker pull $CI_REGISTRY_IMAGE/client:latest &&
          docker pull $CI_REGISTRY_IMAGE/server:latest &&
          docker-compose -f docker-compose.prod.yml up -d server"
      fi
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^Client|Server|master$/'

Fix : Add addEventListener trigger for SSE [신성우]
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
Due: client-build, client-test

Test : Test SSE response data accept view [신성우]
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
Due: client-build, client-test

Chore: Remove SSE sent message[한재서]
  damul-server/src/main/java/com/damul/api/main/service/HomeServiceImpl.java
Due: server-build, server-test

Test: change scheduling time[한재서]
  damul-server/src/main/java/com/damul/api/mypage/service/BadgeService.java
Due: server-build, server-test

Fix : state management , test data change [신성우]
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
Due: client-build, client-test

Test : Test detect event [신성우]
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
Due: client-build, client-test

Test : SSE,OCR test[신성우]
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
Due: client-build, client-test

HOTFIX: Bugfix with get lastmessage's sender[한재서]
  damul-server/src/main/java/com/damul/api/chat/service/ChatMessageServiceImpl.java
  damul-server/src/main/java/com/damul/api/mypage/service/BadgeService.java
Due: server-build, server-test

Fix: change scheduling time and bugfix in badge calculation[한재서]
  damul-server/src/main/java/com/damul/api/DamulServerApplication.java
  damul-server/src/main/java/com/damul/api/ingredient/service/PriceBatchService.java
  damul-server/src/main/java/com/damul/api/mypage/service/BadgeService.java
  damul-server/src/main/java/com/damul/api/post/repository/PostRepository.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Chore : Remove debug log [전종우]
  damul-client/src/hooks/useStompClient.ts
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
Due: client-build, client-test

Fix : Fix door open state management and Modify Style [신성우]
  damul-client/src/components/home/RefrigeratorDoor.tsx
  damul-client/src/pages/home/HomeIngredientsEditPage.tsx
  damul-client/src/pages/home/HomePage.tsx
Due: client-build, client-test

Chore: gpt prompt upgrade [윤혜진]
  damul-ocr/__pycache__/config.cpython-39.pyc
  damul-ocr/__pycache__/main.cpython-39.pyc
  damul-ocr/services/__pycache__/__init__.cpython-39.pyc
  damul-ocr/services/__pycache__/gpt_service.cpython-39.pyc
  damul-ocr/services/__pycache__/ocr_service.cpython-39.pyc
  damul-ocr/services/gpt_service.py
Due: none

Fix : Remove focusing when SearchBox mounted [전종우]
  damul-client/src/components/common/DamulSearchBox.tsx
Due: client-build, client-test

Fix : Add init period text [전종우]
  damul-client/src/pages/statistics/StatisticsTrendPage.tsx
Due: client-build, client-test

Fix : Change dropdown item hover color [전종우]
  damul-client/src/components/admin/Header.tsx
  damul-client/src/pages/setting/SettingPage.tsx
Due: client-build, client-test

Fix : Change option icon and hover color [전종우]
  damul-client/src/components/common/Header.tsx
  damul-client/src/components/svg/OptionIcon.tsx
Due: client-build, client-test

Chore: change spring.config.profiles.active from local to prod[한재서]
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Fix: Bugfix with bookmark has no recipe's id[한재서]
  damul-server/src/main/java/com/damul/api/mypage/dto/response/MyBookmarkList.java
  damul-server/src/main/java/com/damul/api/mypage/repository/BookmarkRepository.java
Due: server-build, server-test

Fix: Bugfix leaving chat room didn't send leaving message[한재서]
  damul-server/src/main/java/com/damul/api/chat/service/ChatRoomServiceImpl.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Fix : Modify RefreshToken [지유림]
  damul-server/src/main/java/com/damul/api/auth/filter/JwtTokenRefreshFilter.java
  damul-server/src/main/java/com/damul/api/auth/jwt/JwtTokenProvider.java
Due: server-build, server-test

Fix: change calculating badge status[한재서]
  damul-server/src/main/java/com/damul/api/mypage/service/BadgeService.java
Due: server-build, server-test

Fix: Modify IngredientNormalizerUtil [지유림]
  damul-server/src/main/java/com/damul/api/common/util/IngredientNormalizerUtil.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Fix : Modify application.yml profiles/active local -> prod [지유림]
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

temp commit
  damul-server/src/main/java/com/damul/api/chat/service/ChatRoomServiceImpl.java
  damul-server/src/main/java/com/damul/api/chat/service/WebSocketServiceImpl.java
Due: server-build, server-test

Fix: roll back to use rdbms sending chat messages[한재서]
  damul-server/src/main/java/com/damul/api/chat/service/ChatRoomServiceImpl.java
  damul-server/src/main/java/com/damul/api/chat/service/WebSocketServiceImpl.java
Due: server-build, server-test

Fix: Modify IngredientNormalizerUtil [지유림]
  damul-server/src/main/java/com/damul/api/common/util/IngredientNormalizerUtil.java
Due: server-build, server-test

Refactor : Refactor replace useEffect with useQuery and enable refetching on updates[신성우]
  damul-client/src/components/home/IngredientStorageContainer.tsx
  damul-client/src/components/home/RefrigeratorDoor.tsx
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
  damul-client/src/pages/home/HomePage.tsx
Due: client-build, client-test

Feat: add batch delete api for user ingredients[한재서]
  damul-server/src/main/java/com/damul/api/main/controller/HomeController.java
  damul-server/src/main/java/com/damul/api/main/repository/UserIngredientRepository.java
  damul-server/src/main/java/com/damul/api/main/service/HomeService.java
  damul-server/src/main/java/com/damul/api/main/service/HomeServiceImpl.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Feat: add batch delete api for user ingredients[한재서]
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Fix: Bugfix with calculate badges[한재서]
  damul-server/src/main/java/com/damul/api/mypage/controller/BatchTestController.java
  damul-server/src/main/java/com/damul/api/mypage/repository/UserBadgeRepository.java
  damul-server/src/main/java/com/damul/api/mypage/service/BadgeService.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Fix: Refactor recipe recommandation[한재서]
  damul-server/src/main/java/com/damul/api/main/repository/UserIngredientRepository.java
  damul-server/src/main/java/com/damul/api/main/service/HomeServiceImpl.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Fix : Modify recommendRecipe [지유림]
  damul-server/src/main/java/com/damul/api/main/service/HomeServiceImpl.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeServiceImpl.java
Due: server-build, server-test

Feat : Add bulk deletion feature for ingredients in the edit page [신성우]
  damul-client/src/components/home/ConfirmDeleteModal.tsx
  damul-client/src/components/home/IngredientButton.tsx
  damul-client/src/components/home/IngredientDeleteOverview.tsx
  damul-client/src/components/home/IngredientDetail.tsx
  damul-client/src/pages/home/HomeIngredientsEditPage.tsx
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
  damul-client/src/pages/home/HomePage.tsx
  damul-client/src/service/home.ts
Due: client-build, client-test
