Repository rpeowiqu/damul: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client-build, server-build, client-test, server-test

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy

# 클라이언트 빌드 작업
client-build:
  tags:
    - docker
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN
  script:
    - docker build -t $CLIENT_DOCKER_IMAGE ./damul-client
    - docker push $CLIENT_DOCKER_IMAGE
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^Client|client-develop|master$/'
      changes:
        - "damul-client/**/*"

# 서버 빌드 작업
server-build:
  tags:
    - docker
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN
  script:
    - docker build -t $SERVER_DOCKER_IMAGE ./damul-server
    - docker push $SERVER_DOCKER_IMAGE
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^Server|server-develop|master$/'
      changes:
        - "damul-server/**/*"

# 클라이언트 테스트 작업
client-test:
  tags:
    - docker
  stage: test
  image: node:16
  script:
    - cd damul-client
    - npm ci
    - npm run test
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^Client|client-develop|master$/ && $CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    - if: '$CI_COMMIT_BRANCH =~ /^Client|client-develop|master$/'
      changes:
        - "damul-client/**/*"

# 서버 테스트 작업
server-test:
  tags:
    - docker
  stage: test
  image: gradle:8.12-jdk17
  script:
    - cd damul-server
    - gradle clean test
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^Server|server-develop|master$/ && $CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    - if: '$CI_COMMIT_BRANCH =~ /^Server|server-develop|master$/'
      changes:
        - "damul-server/**/*"

# 배포 작업
deploy:
  tags:
    - docker
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | base64 -d > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H $EC2_HOST >> ~/.ssh/known_hosts
  script:
    - |
      # Client 브랜치 배포: 클라이언트 컨테이너만 배포
      if [[ "$CI_COMMIT_BRANCH" == "Client" ]]; then
        ssh $EC2_USER@$EC2_HOST "
          cd /home/ubuntu/S12P11A306 &&
          docker pull $CI_REGISTRY_IMAGE/client:latest &&
          docker-compose -f docker-compose.prod.yml up -d server"
      fi

      # Server 브랜치 배포: 서버 컨테이너만 배포
      if [[ "$CI_COMMIT_BRANCH" == "Server" ]]; then
        ssh $EC2_USER@$EC2_HOST "
          cd /home/ubuntu/S12P11A306 &&
          docker pull $CI_REGISTRY_IMAGE/server:latest &&
          docker-compose -f docker-compose.prod.yml up -d server"
      fi

      # master 브랜치 배포: 클라이언트와 서버 컨테이너 모두 배포
      if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then
        ssh $EC2_USER@$EC2_HOST "
          cd /home/ubuntu/S12P11A306 &&
          docker pull $CI_REGISTRY_IMAGE/server:latest &&
          docker-compose -f docker-compose.prod.yml up -d server"
      fi

      # master 브랜치 배포: 클라이언트와 서버 컨테이너 모두 배포
      if [[ "$CI_COMMIT_BRANCH" == "master" ]]; then
        ssh $EC2_USER@$EC2_HOST "
          cd /home/ubuntu/S12P11A306 &&
          docker pull $CI_REGISTRY_IMAGE/client:latest &&
          docker pull $CI_REGISTRY_IMAGE/server:latest &&
          docker-compose -f docker-compose.prod.yml up -d server"
      fi
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^Client|Server|master$/'

Fix: Bugfix for recipe's created_at saved utc[한재서]
  damul-server/src/main/java/com/damul/api/recipe/entity/Recipe.java
Due: server-build, server-test

Fix: Bugfix with like recipe[한재서]
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeServiceImpl.java
Due: server-build, server-test

Feat : Send image in chatting [윤서희]
  damul-client/src/components/common/OcrLoading.tsx
  damul-client/src/hooks/useStompClient.ts
  damul-client/src/pages/chat/ChattingMainPage.tsx
  damul-client/src/pages/chat/ChattingRoomPage.tsx
  damul-client/src/pages/chat/ChattingSearchResultPage.tsx
  damul-client/src/pages/community/CommunityRecipePostPage.tsx
  damul-client/src/types/chatting.ts
Due: client-build, client-test

Feat : Add statistics trend page api [전종우] - Add constant category mappers - Modify shadcn select component
  damul-client/src/components/ui/select.tsx
  damul-client/src/constants/category.ts
  damul-client/src/pages/profile/ProfileInfoPage.tsx
  damul-client/src/pages/statistics/StatisticsHistoryPage.tsx
  damul-client/src/pages/statistics/StatisticsTrendPage.tsx
  damul-client/src/types/statistics.ts
Due: client-build, client-test

Fix: Bugfix with notification[한재서]
  damul-server/src/main/java/com/damul/api/chat/controller/StompChatController.java
  damul-server/src/main/java/com/damul/api/chat/dto/request/ChatMessageCreate.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatRoomServiceImpl.java
  damul-server/src/main/java/com/damul/api/config/WebSocketConfig.java
  damul-server/src/main/java/com/damul/api/post/service/PostServiceImpl.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeServiceImpl.java
  damul-server/src/main/java/com/damul/api/user/service/FollowServiceImpl.java
Due: server-build, server-test

Chore: commit for deploy[한재서]
  damul-server/src/main/java/com/damul/api/config/WebSocketConfig.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Design : Add homePage animate effect and dynanic action [신성우]
  damul-client/src/assets/door.png
  damul-client/src/components/home/IngredientButton.tsx
  damul-client/src/components/home/IngredientStorageContainer.tsx
  damul-client/src/components/home/RefrigeratorDoor.tsx
  damul-client/src/pages/home/HomePage.tsx
  damul-client/tailwind.config.js
Due: client-build, client-test

Design : Improve badge modal content style [전종우]
  damul-client/src/components/common/Layout.tsx
  damul-client/src/components/profile/BadgeShowcase.tsx
Due: client-build, client-test

Fix : Add delay loading to fill progress bar [전종우] - Change intro content div bg color
  damul-client/src/components/intro/IntroContent.tsx
  damul-client/src/components/intro/LoadingScreen.tsx
Due: client-build, client-test

Fix: Bugfix with get other user's ingredient[JaeSeoHan]
  damul-server/src/main/java/com/damul/api/config/WebSocketConfig.java
  damul-server/src/main/java/com/damul/api/main/service/HomeServiceImpl.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Fix: Bugfix with notifications[한재서]
  damul-server/src/main/java/com/damul/api/chat/service/WebSocketServiceImpl.java
  damul-server/src/main/java/com/damul/api/main/controller/HomeController.java
  damul-server/src/main/java/com/damul/api/main/dto/OcrDto.java
  damul-server/src/main/java/com/damul/api/main/service/HomeService.java
  damul-server/src/main/java/com/damul/api/main/service/HomeServiceImpl.java
  damul-server/src/main/java/com/damul/api/mypage/repository/FoodPreferenceRepository.java
  damul-server/src/main/java/com/damul/api/notification/dto/response/NotificationResponse.java
  damul-server/src/main/java/com/damul/api/notification/entity/Notification.java
  damul-server/src/main/java/com/damul/api/notification/service/NotificationService.java
  damul-server/src/main/java/com/damul/api/notification/service/NotificationServiceImpl.java
  damul-server/src/main/java/com/damul/api/post/service/PostServiceImpl.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeServiceImpl.java
  damul-server/src/main/java/com/damul/api/user/service/FollowServiceImpl.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Fix : Modify kamis-integration [지유림]
  damul-server/src/main/java/com/damul/api/ingredient/service/PriceAnalysisService.java
Due: server-build, server-test

Fix : Modify PriceAnalysisService [지유림]
  damul-server/src/main/java/com/damul/api/ingredient/service/PriceAnalysisService.java
Due: server-build, server-test

Feat : Add alarm with webSocket [윤서희]
  damul-client/src/components/alarm/AlarmItem.tsx
  damul-client/src/components/common/Header.tsx
  damul-client/src/hooks/useAlarmSubscription.ts
  damul-client/src/hooks/useChattingSubscription.ts
  damul-client/src/hooks/useStompSubscription.ts
  damul-client/src/pages/alarm/AlarmPage.tsx
Due: client-build, client-test

Feat : Add statistics price trend page functions [전종우]
  damul-client/src/constants/category.ts
  damul-client/src/pages/statistics/StatisticsTrendPage.tsx
  damul-client/src/service/statistics.ts
Due: client-build, client-test

Fix : Modify mypage ScrollResponse [지유림]
  damul-server/src/main/java/com/damul/api/common/exception/ErrorCode.java
  damul-server/src/main/java/com/damul/api/common/scroll/util/ScrollUtil.java
  damul-server/src/main/java/com/damul/api/mypage/controller/MyPageController.java
  damul-server/src/main/java/com/damul/api/mypage/dto/response/MyBookmarkList.java
  damul-server/src/main/java/com/damul/api/mypage/repository/BookmarkRepository.java
  damul-server/src/main/java/com/damul/api/mypage/service/MyPageService.java
  damul-server/src/main/java/com/damul/api/mypage/service/MyPageServiceImpl.java
Due: server-build, server-test

Feat: Add kogpt2 service [윤혜진]
  damul-ocr/__pycache__/main.cpython-39.pyc
  damul-ocr/main.py
  damul-ocr/models/tokenizer/special_tokens_map.json
  damul-ocr/models/tokenizer/tokenizer.json
  damul-ocr/models/tokenizer/tokenizer_config.json
  damul-ocr/requirements.txt
  damul-ocr/services/__pycache__/gpt_service.cpython-39.pyc
  damul-ocr/services/__pycache__/kogpt2_service.cpython-39.pyc
  damul-ocr/services/kogpt2_service.py
Due: none

Fix : Modify delete log [지유림]
  damul-server/src/main/java/com/damul/api/common/scroll/util/ScrollUtil.java
  damul-server/src/main/java/com/damul/api/mypage/service/MyPageServiceImpl.java
Due: server-build, server-test

Feat: add connect api for ocr[한재서]
  damul-server/src/main/java/com/damul/api/auth/filter/JwtTokenRefreshFilter.java
  damul-server/src/main/java/com/damul/api/chat/entity/ChatRoom.java
  damul-server/src/main/java/com/damul/api/common/exception/ErrorCode.java
  damul-server/src/main/java/com/damul/api/common/sse/EmitterInfo.java
  damul-server/src/main/java/com/damul/api/common/sse/SseController.java
  damul-server/src/main/java/com/damul/api/common/sse/service/SseService.java
  damul-server/src/main/java/com/damul/api/config/RedisConfig.java
  damul-server/src/main/java/com/damul/api/config/RestTemplateConfig.java
  damul-server/src/main/java/com/damul/api/config/SecurityConfig.java
  damul-server/src/main/java/com/damul/api/main/controller/HomeController.java
  damul-server/src/main/java/com/damul/api/main/dto/OcrList.java
  damul-server/src/main/java/com/damul/api/main/service/HomeService.java
  damul-server/src/main/java/com/damul/api/main/service/HomeServiceImpl.java
  damul-server/src/main/java/com/damul/api/notification/entity/Notification.java
Due: server-build, server-test

Fix : Modify mypage ScrollResponse [지유림]
  damul-server/src/main/java/com/damul/api/common/scroll/util/ScrollUtil.java
  damul-server/src/main/java/com/damul/api/mypage/controller/MyPageController.java
  damul-server/src/main/java/com/damul/api/mypage/dto/response/MyBookmarkList.java
  damul-server/src/main/java/com/damul/api/mypage/repository/BookmarkRepository.java
  damul-server/src/main/java/com/damul/api/mypage/service/MyPageService.java
  damul-server/src/main/java/com/damul/api/mypage/service/MyPageServiceImpl.java
Due: server-build, server-test

Feat: add connect api for ocr[한재서]
  damul-server/src/main/java/com/damul/api/common/exception/ErrorCode.java
Due: server-build, server-test

Chore: modify scheduling time for debug[한재서]
  damul-server/src/main/java/com/damul/api/mypage/service/BadgeService.java
Due: server-build, server-test

Fix : Modify batch [지유림]
  damul-server/src/main/java/com/damul/api/ingredient/service/PriceBatchService.java
  damul-server/src/main/java/com/damul/api/user/dto/response/SettingResponse.java
  damul-server/src/main/java/com/damul/api/user/service/UserServiceImpl.java
Due: server-build, server-test

Fix : Modify Setting Update [지유림]
  damul-server/src/main/java/com/damul/api/ingredient/service/PriceAnalysisService.java
  damul-server/src/main/java/com/damul/api/ingredient/service/PriceBatchService.java
  damul-server/src/main/java/com/damul/api/user/dto/request/SettingUpdate.java
  damul-server/src/main/java/com/damul/api/user/dto/response/SettingResponse.java
  damul-server/src/main/java/com/damul/api/user/service/UserServiceImpl.java
Due: server-build, server-test

Fix : Modify application.yml profile [지유림]
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Setting: change requirements torch to cpu [윤혜진]
  damul-ocr/requirements.txt
Due: none

Fix : Modify user default image setting [전종우]
  damul-client/src/components/common/ImageUploader.tsx
  damul-client/src/pages/setting/SettingPage.tsx
  damul-client/src/service/user.ts
Due: client-build, client-test

Fix : Check nickname duplication check status when signup [전종우]
  damul-client/src/components/common/Layout.tsx
  damul-client/src/components/signup/InfoForm.tsx
  damul-client/src/components/signup/TermForm.tsx
Due: client-build, client-test

Fix: change model dir path [윤혜진]
  damul-ocr/services/kogpt2_service.py
Due: none

Fix: change model dir path [윤혜진]
  damul-ocr/requirements.txt
Due: none

Design : Add action of refrigerator Door [신성우] - Add animate related to Action - Add static image
  damul-client/src/assets/door.png
  damul-client/src/components/home/IngredientButton.tsx
  damul-client/src/components/home/IngredientStorageContainer.tsx
  damul-client/src/components/home/MenuButton.tsx
  damul-client/src/components/home/RefrigeratorDoor.tsx
  damul-client/src/pages/home/HomePage.tsx
  damul-client/tailwind.config.js
Due: client-build, client-test

Chore: update ocr file and check kogpt2 [윤혜진]
  damul-ocr/__pycache__/main.cpython-39.pyc
  damul-ocr/services/__pycache__/kogpt2_service.cpython-39.pyc
  damul-ocr/services/__pycache__/ocr_service.cpython-39.pyc
  damul-ocr/services/kogpt2_service.py
  damul-ocr/services/ocr_service.py
Due: none

Fix: modify settings for deploy[한재서]
  damul-server/src/main/java/com/damul/api/config/WebSocketConfig.java
  damul-server/src/main/java/com/damul/api/notification/entity/Notification.java
  damul-server/src/main/java/com/damul/api/notification/service/NotificationServiceImpl.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Fix: modify scheduling time[한재서]
  damul-server/src/main/java/com/damul/api/ingredient/service/PriceBatchService.java
  damul-server/src/main/java/com/damul/api/mypage/service/BadgeService.java
Due: server-build, server-test

Chore : Modify simple style code related to modal ui component [신성우] - resolve modal top space problem
  damul-client/src/components/common/DamulModal.tsx
Due: client-build, client-test

Refactor: Modify code due to constant changes [신성우]
  damul-client/src/components/home/IngredientButton.tsx
  damul-client/src/components/home/IngredientCategoryFilter.tsx
  damul-client/src/components/home/IngredientDetail.tsx
  damul-client/src/components/home/IngredientItem.tsx
  damul-client/src/components/home/OcrButton.tsx
  damul-client/src/constants/category.ts
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
Due: client-build, client-test
