Repository rpeowiqu/damul: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client-build, server-build, client-test, server-test

client-build:
  tags:
  - docker
  image: docker:latest
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN
  script:
  - docker build -t $CLIENT_DOCKER_IMAGE ./damul-client
  - docker push $CLIENT_DOCKER_IMAGE

server-build:
  tags:
  - docker
  image: docker:latest
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN
  script:
  - docker build -t $SERVER_DOCKER_IMAGE ./damul-server
  - docker push $SERVER_DOCKER_IMAGE

client-test:
  tags:
  - docker
  stage: test
  image: node:16
  script:
  - cd damul-client
  - npm ci
  - npm run test

server-test:
  tags:
  - docker
  stage: test
  image: gradle:8.12-jdk17
  script:
  - cd damul-server
  - gradle clean test

Fix: Bugfix in notify recipe comment[한재서]
  damul-server/src/main/java/com/damul/api/auth/dto/response/UserResponse.java
  damul-server/src/main/java/com/damul/api/auth/service/AuthService.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeServiceImpl.java
Due: server-build, server-test

Feat : Add Alarm page apis [윤서희]
  damul-client/src/components/alarm/AlarmItem.tsx
  damul-client/src/components/chat/ChattingBubble.tsx
  damul-client/src/components/common/Header.tsx
  damul-client/src/components/common/RecipeFeedCard.tsx
  damul-client/src/components/footer/ChatAlram.tsx
  damul-client/src/components/footer/Tab.tsx
  damul-client/src/hooks/useAlarmSubscription.ts
  damul-client/src/hooks/useChattingSubscription.ts
  damul-client/src/hooks/useStompClient.ts
  damul-client/src/hooks/useStompConnection.ts
  damul-client/src/hooks/useStompSubscription.ts
  damul-client/src/pages/alarm/AlarmPage.tsx
  damul-client/src/pages/chat/ChattingMainPage.tsx
  damul-client/src/pages/chat/ChattingRoomPage.tsx
Due: client-build, client-test

Feat : Improve intro page [전종우]
  damul-client/src/components/intro/IntroContent.tsx
  damul-client/src/components/intro/LoadingScreen.tsx
Due: client-build, client-test

Chore : Modify Style z-index in EditOverview [신성우]
  damul-client/src/components/home/IngredientEditOverview.tsx
Due: client-build, client-test

Chore: add image file limit [윤혜진]
  damul-ocr/__pycache__/main.cpython-39.pyc
  damul-ocr/services/__pycache__/kogpt2_service.cpython-39.pyc
  damul-ocr/services/__pycache__/ocr_service.cpython-39.pyc
  damul-ocr/services/kogpt2_service.py
  damul-ocr/services/ocr_service.py
Due: none

Fix: block send notification when receiver equals sender[한재서]
  damul-server/src/main/java/com/damul/api/notification/service/NotificationServiceImpl.java
Due: server-build, server-test

Chore: update ocr file and check kogpt2 [윤혜진]
  damul-ocr/__pycache__/main.cpython-39.pyc
  damul-ocr/services/__pycache__/kogpt2_service.cpython-39.pyc
  damul-ocr/services/__pycache__/ocr_service.cpython-39.pyc
  damul-ocr/services/kogpt2_service.py
  damul-ocr/services/ocr_service.py
Due: none

Feat : Add recommend-Recipe [지유림]
  damul-server/build.gradle
  damul-server/src/main/java/com/damul/api/auth/controller/TestAuthController.java
  damul-server/src/main/java/com/damul/api/common/util/IngredientNormalizerUtil.java
  damul-server/src/main/java/com/damul/api/main/controller/HomeController.java
  damul-server/src/main/java/com/damul/api/main/entity/NormalizedIngredient.java
  damul-server/src/main/java/com/damul/api/main/entity/UserIngredient.java
  damul-server/src/main/java/com/damul/api/main/repository/NormalizedIngredientRepository.java
  damul-server/src/main/java/com/damul/api/main/service/HomeService.java
  damul-server/src/main/java/com/damul/api/main/service/HomeServiceImpl.java
  damul-server/src/main/java/com/damul/api/receipt/service/UserReceiptServiceImpl.java
  damul-server/src/main/java/com/damul/api/recipe/entity/RecipeIngredient.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeServiceImpl.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Design : Modify style related to refrigeratorDoor animate problem [신성우]
  damul-client/src/components/home/RefrigeratorDoor.tsx
  damul-client/tailwind.config.js
Due: client-build, client-test

Design : Modify Style of ingredientBtn[신성우]
  damul-client/src/components/home/IngredientButton.tsx
  damul-client/src/components/home/IngredientStorageContainer.tsx
Due: client-build, client-test

Chore : Remove not Used Code [신성우]
  damul-client/src/routes/router.tsx
Due: client-build, client-test

Chore : Add PlusIcon, MinusIcon, Modify related code in RegisterPage [신성우]
  damul-client/src/components/home/IngredientItem.tsx
  damul-client/src/components/svg/MinusIcon.tsx
  damul-client/src/components/svg/PlusIcon.tsx
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
Due: client-build, client-test

Feat : Add alarm read & Fix : Fix content line breaks [윤서희]
  damul-client/src/components/alarm/AlarmItem.tsx
  damul-client/src/components/common/Header.tsx
  damul-client/src/components/common/PostFeedCard.tsx
  damul-client/src/components/common/RecipeFeedCard.tsx
  damul-client/src/components/community/CommentItem.tsx
  damul-client/src/components/community/CommunityDetailHeader.tsx
  damul-client/src/components/community/ContentSection.tsx
  damul-client/src/components/community/CookingOrderSection.tsx
  damul-client/src/components/community/ReplyItem.tsx
  damul-client/src/hooks/useAlarmSubscription.ts
  damul-client/src/pages/alarm/AlarmPage.tsx
Due: client-build, client-test

Feat : Modify intro page ui [전종우]
  damul-client/src/components/intro/IntroContent.tsx
  damul-client/src/components/intro/IntroItem.tsx
  damul-client/src/components/svg/QRScanIcon.tsx
  damul-client/src/components/svg/ReceiptScanIcon.tsx
  damul-client/src/index.css
  damul-client/src/pages/intro/IntroPage.tsx
Due: client-build, client-test

Feat : Add limit to length and size when posting in community [윤서희]
  damul-client/src/components/community/PostContent.tsx
  damul-client/src/components/community/PostImage.tsx
  damul-client/src/components/community/PostRecipeIngrediantForm.tsx
  damul-client/src/components/community/PostRecipeOrderForm.tsx
  damul-client/src/components/community/PostRecipeOrders.tsx
  damul-client/src/components/community/PostTitle.tsx
Due: client-build, client-test

Chore: modify UserResponse dto to contain role field[JaeSeoHan]
  damul-server/src/main/java/com/damul/api/auth/entity/User.java
  damul-server/src/main/java/com/damul/api/auth/service/AuthService.java
  damul-server/src/main/java/com/damul/api/config/WebSocketConfig.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Chore : Add qrcode.react library [신성우]
  damul-client/package-lock.json
  damul-client/package.json
Due: client-build, client-test

Chore : Add missing code for refrigerator door gloss effect [신성우]
  damul-client/src/components/home/RefrigeratorDoor.tsx
Due: client-build, client-test

Feat : Add recommend-recipe [지유림]
  damul-server/src/main/java/com/damul/api/main/controller/HomeController.java
  damul-server/src/main/java/com/damul/api/main/dto/response/SuggestedRecipeList.java
  damul-server/src/main/java/com/damul/api/main/entity/NormalizedIngredient.java
  damul-server/src/main/java/com/damul/api/main/entity/UserIngredient.java
  damul-server/src/main/java/com/damul/api/main/repository/NormalizedIngredientRepository.java
  damul-server/src/main/java/com/damul/api/main/repository/UserIngredientRepository.java
  damul-server/src/main/java/com/damul/api/main/service/HomeServiceImpl.java
  damul-server/src/main/java/com/damul/api/mypage/service/BadgeService.java
  damul-server/src/main/java/com/damul/api/receipt/repository/UserReceiptRepository.java
  damul-server/src/main/java/com/damul/api/receipt/service/UserReceiptServiceImpl.java
  damul-server/src/main/java/com/damul/api/recipe/entity/Recipe.java
  damul-server/src/main/java/com/damul/api/recipe/entity/RecipeIngredient.java
  damul-server/src/main/java/com/damul/api/recipe/repository/RecipeRepository.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeServiceImpl.java
Due: server-build, server-test

Fix : Modify application.yml [지유림]
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Fix : Modify BatchConfig [지유림]
  damul-server/build.gradle
  damul-server/src/main/java/com/damul/api/common/exception/ErrorCode.java
  damul-server/src/main/java/com/damul/api/config/BatchConfig.java
  damul-server/src/main/java/com/damul/api/ingredient/dto/FoodCategory.java
  damul-server/src/main/java/com/damul/api/ingredient/service/KamisApiService.java
  damul-server/src/main/java/com/damul/api/ingredient/service/PriceBatchService.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Fix: Modify PriceAnalysisService [지유림]
  damul-server/src/main/java/com/damul/api/ingredient/service/PriceAnalysisService.java
  damul-server/src/main/java/com/damul/api/ingredient/service/PriceBatchService.java
Due: server-build, server-test

Feat: add apis for admin and refactor chat message read logic[한재서]
  damul-server/src/main/java/com/damul/api/admin/controller/AdminController.java
  damul-server/src/main/java/com/damul/api/admin/dto/response/AdminPostList.java
  damul-server/src/main/java/com/damul/api/admin/dto/response/AdminUserDetail.java
  damul-server/src/main/java/com/damul/api/admin/service/AdminServiceImpl.java
  damul-server/src/main/java/com/damul/api/chat/repository/ChatMessageRepository.java
  damul-server/src/main/java/com/damul/api/chat/repository/ChatRoomMemberRepository.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatMessageServiceImpl.java
  damul-server/src/main/java/com/damul/api/chat/service/UnreadMessageService.java
  damul-server/src/main/java/com/damul/api/chat/service/WebSocketServiceImpl.java
  damul-server/src/main/java/com/damul/api/common/exception/ErrorCode.java
  damul-server/src/main/java/com/damul/api/report/repository/ReportRepository.java
  damul-server/src/main/java/com/damul/api/report/service/ReportService.java
  damul-server/src/main/java/com/damul/api/report/service/ReportServiceImpl.java
  damul-server/src/main/java/com/damul/api/user/repository/UserRepository.java
Due: server-build, server-test

Fix : Modify logout [지유림]
  damul-server/src/main/java/com/damul/api/auth/util/CookieUtil.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Chore: Commit before pull[한재서]
  damul-server/src/main/java/com/damul/api/auth/controller/AuthController.java
  damul-server/src/main/java/com/damul/api/auth/service/AuthService.java
  damul-server/src/main/java/com/damul/api/chat/service/UnreadMessageService.java
Due: server-build, server-test

Refactor: modify update unread message nums using websocket[한재서]
  damul-server/src/main/java/com/damul/api/auth/jwt/JwtTokenProvider.java
  damul-server/src/main/java/com/damul/api/auth/service/AuthService.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatMessageServiceImpl.java
  damul-server/src/main/java/com/damul/api/chat/service/WebSocketServiceImpl.java
Due: server-build, server-test

Fix: Bugfix with get unread chat message num[한재서]
  damul-server/src/main/java/com/damul/api/auth/oauth2/handler/OAuth2SuccessHandler.java
  damul-server/src/main/java/com/damul/api/common/scroll/dto/request/PostStatusRequest.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Feat : Add api to related report [전종우]
  damul-client/src/components/common/DamulModal.tsx
  damul-client/src/components/common/ReportButton.tsx
  damul-client/src/components/community/AuthorInfo.tsx
  damul-client/src/components/community/CommentItem.tsx
  damul-client/src/components/community/ReplyItem.tsx
  damul-client/src/service/report.ts
  damul-client/src/types/report.ts
Due: client-build, client-test

Fix: Bugfix with chat message size[한재서]
  damul-server/src/main/java/com/damul/api/chat/repository/ChatMessageRepository.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatMessageServiceImpl.java
Due: server-build, server-test

Fix: Bugfix with get chat message amount that bigger than size[한재서]
  damul-server/src/main/java/com/damul/api/chat/dto/response/ChatMessageResponse.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatMessageServiceImpl.java
Due: server-build, server-test

Feat : Add Ocr loading & Add read chats [윤서희]
  damul-client/src/components/chat/ChattingListItem.tsx
  damul-client/src/components/chat/ChattingMenuButton.tsx
  damul-client/src/components/chat/ChattingRoomInfiniteScroll.tsx
  damul-client/src/components/common/DamulCarousel.tsx
  damul-client/src/components/common/Header.tsx
  damul-client/src/components/common/OcrLoading.tsx
  damul-client/src/components/community/ContentSection.tsx
  damul-client/src/components/intro/LoadingScreen.tsx
  damul-client/src/hooks/useAlarmSubscription.ts
  damul-client/src/hooks/useChattingSubscription.ts
  damul-client/src/pages/chat/ChattingMainPage.tsx
  damul-client/src/pages/chat/ChattingRoomPage.tsx
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
  damul-client/src/service/chatting.ts
Due: client-build, client-test

Comment : Comment chat image input [윤서희]
  damul-client/src/pages/chat/ChattingRoomPage.tsx
Due: client-build, client-test

Fix: Bugfix with SSE Emmitter[한재서]
  damul-server/build.gradle
  damul-server/src/main/java/com/damul/api/auth/filter/JwtTokenRefreshFilter.java
  damul-server/src/main/java/com/damul/api/common/sse/EmitterInfo.java
  damul-server/src/main/java/com/damul/api/common/sse/service/SseService.java
  damul-server/src/main/java/com/damul/api/config/RedisConfig.java
Due: server-build, server-test

Feat : Add QRcode SSE connection [신성우]
  damul-client/src/components/home/QrCodeBox.tsx
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
  damul-client/src/pages/qrcode/QrCodePage.tsx
  damul-client/src/routes/router.tsx
  damul-client/src/service/home.ts
Due: client-build, client-test

Chore : Add Exception handle logic related to 204 not Content Error [신성우]
  damul-client/src/components/common/DamulCarousel.tsx
Due: client-build, client-test

Chore : Remove alert [신성우]
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
Due: client-build, client-test

!HOTFIX : Fix intro page button layer [전종우]
  damul-client/src/components/intro/IntroContent.tsx
Due: client-build, client-test

Fix : Add Docker variable [신성우]
  damul-client/Dockerfile
Due: client-build, client-test

Path conditions:
  client-build: any of: damul-client/**/*
  server-build: any of: damul-server/**/*
  client-test: any of: damul-client/**/*
  server-test: any of: damul-server/**/*
