Repository rpeowiqu/damul: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client-build, server-build, client-test, server-test

Path conditions:
  client-build: any of: damul-client/**/*
  server-build: any of: damul-server/**/*
  client-test: any of: damul-client/**/*
  server-test: any of: damul-server/**/*

Chore : modify simple code [신성우]
  damul-client/src/components/community/PostButton.tsx
  damul-client/src/components/home/MenuButton.tsx
  damul-client/src/routes/router.tsx
Due: client-build, client-test

Chore: change endpoint [윤혜진]
  damul-ocr/app/main.py
Due: none

Feat : JAP Error Complete [지유림[:
  damul-server/src/main/java/com/damul/api/main/repository/UserIngredientRepository.java
  damul-server/src/main/java/com/damul/api/recipe/controller/RecipeController.java
  damul-server/src/main/java/com/damul/api/recipe/dto/response/RecipeList.java
  damul-server/src/main/java/com/damul/api/recipe/entity/Recipe.java
  damul-server/src/main/java/com/damul/api/recipe/entity/RecipeBookmark.java
  damul-server/src/main/java/com/damul/api/recipe/repository/RecipeRepository.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeServiceImpl.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Chore: Making postservice [윤혜진]
  damul-server/src/main/java/com/damul/api/post/controller/PostController.java
  damul-server/src/main/java/com/damul/api/post/dto/response/PostList.java
  damul-server/src/main/java/com/damul/api/post/entity/Post.java
  damul-server/src/main/java/com/damul/api/post/service/PostService.java
Due: server-build, server-test

Deploy : Add config related to Deploy [신성우]
  damul-client/Dockerfile
  damul-client/nginx.conf
Due: client-build, client-test

Refactor : Modify RecipeController search logic [지유림]
  damul-server/src/main/java/com/damul/api/main/repository/UserIngredientRepository.java
  damul-server/src/main/java/com/damul/api/recipe/controller/RecipeController.java
  damul-server/src/main/java/com/damul/api/recipe/entity/Recipe.java
  damul-server/src/main/java/com/damul/api/recipe/repository/RecipeRepository.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeServiceImpl.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Fix : Change logo router link [전종우]
  damul-client/src/components/common/Header.tsx
  damul-client/src/routes/router.tsx
Due: client-build, client-test

Chore : Add deployment files [전종우]
  damul-client/.gitignore
  damul-client/Dockerfile
  damul-client/package.json
  damul-client/public/mocks/admin/admin-report.json
  damul-client/public/mocks/home/ingredients.json
  damul-client/public/mocks/home/suggested-recipe-list.json
  damul-client/public/mocks/home/user.json
  damul-client/public/mocks/profile/user-profile-badge_1.json
  damul-client/public/mocks/profile/user-profile-badge_2.json
  damul-client/public/mocks/profile/user-profile-badge_3.json
  damul-client/public/mocks/profile/user-profile-header.json
  damul-client/public/mocks/profile/user-profile-info_1.json
  damul-client/public/mocks/profile/user-profile-info_2.json
  damul-client/public/mocks/profile/user-profile-info_3.json
Due: client-build, client-test

Update damul-client/Dockerfile
  damul-client/Dockerfile
Due: client-build, client-test

Chore : Modify path name [신성우]
  damul-client/src/components/signup/InfoForm.tsx
  damul-client/src/components/signup/TermForm.tsx
  damul-client/src/routes/router.tsx
Due: client-build, client-test

Feat : Add view count tracking with daily unique visit limit [지유림]
  damul-server/src/main/java/com/damul/api/auth/controller/TestAuthController.java
  damul-server/src/main/java/com/damul/api/auth/dto/response/UserInfo.java
  damul-server/src/main/java/com/damul/api/common/user/CustomUserDetails.java
  damul-server/src/main/java/com/damul/api/common/user/resolver/CurrentUserArgumentResolver.java
  damul-server/src/main/java/com/damul/api/recipe/controller/RecipeController.java
  damul-server/src/main/java/com/damul/api/recipe/repository/RecipeRepository.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeServiceImpl.java
  damul-server/src/main/java/com/damul/api/scheduler/ViewCountSyncScheduler.java
  damul-server/src/main/java/com/damul/api/user/repository/UserRepository.java
Due: server-build, server-test

Update damul-client/src/pages/signup/SignUpPage.tsx
  damul-client/src/pages/signup/SignUpPage.tsx
Due: client-build, client-test

Chore: update ocr docker file [윤혜진]
  damul-ocr/Dockerfile
Due: none

Chore: save mid [윤혜진]
  damul-server/src/main/java/com/damul/api/post/repository/PostImageRepository.java
  damul-server/src/main/java/com/damul/api/post/repository/PostRepository.java
  damul-server/src/main/java/com/damul/api/post/service/PostService.java
Due: server-build, server-test

Fix:: change folder structure [윤혜진]
  damul-ocr/Dockerfile
  damul-ocr/__init__.py
  damul-ocr/__pycache__/__init__.cpython-39.pyc
  damul-ocr/__pycache__/config.cpython-39.pyc
  damul-ocr/__pycache__/main.cpython-39.pyc
  damul-ocr/app/__pycache__/config.cpython-39.pyc
  damul-ocr/app/__pycache__/main.cpython-39.pyc
  damul-ocr/app/dependencies.py
  damul-ocr/app/services/__init__.py
  damul-ocr/app/services/__pycache__/gpt_service.cpython-39.pyc
  damul-ocr/app/services/__pycache__/ocr_service.cpython-39.pyc
  damul-ocr/config.py
  damul-ocr/core/__init__.py
  damul-ocr/main.py
  damul-ocr/services/__init__.py
  damul-ocr/services/__pycache__/__init__.cpython-39.pyc
  damul-ocr/services/__pycache__/gpt_service.cpython-39.pyc
  damul-ocr/services/__pycache__/ocr_service.cpython-39.pyc
  damul-ocr/services/gpt_service.py
  damul-ocr/services/ocr_service.py
Due: none

Feat : Add Add recipe Like and bookmark [지유림]
  damul-server/src/main/java/com/damul/api/recipe/controller/RecipeController.java
  damul-server/src/main/java/com/damul/api/recipe/entity/RecipeBookmark.java
  damul-server/src/main/java/com/damul/api/recipe/entity/RecipeComment.java
  damul-server/src/main/java/com/damul/api/recipe/entity/RecipeLike.java
  damul-server/src/main/java/com/damul/api/recipe/repository/RecipeBookmarkRepository.java
  damul-server/src/main/java/com/damul/api/recipe/repository/RecipeLikeRepository.java
  damul-server/src/main/java/com/damul/api/recipe/repository/RecipeRepository.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeService.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeServiceImpl.java
Due: server-build, server-test

Update damul-ocr/Dockerfile
  damul-ocr/Dockerfile
Due: none

Fix: modify Dockerfile [윤혜진]
  damul-ocr/Dockerfile
Due: none

Chore: save [윤혜진]
  damul-server/src/main/java/com/damul/api/post/repository/PostCommentRepository.java
Due: server-build, server-test

Fix: dockerfile [윤혜진]
  damul-ocr/Dockerfile
Due: none

Chore : Add CommentCreate [지유림]
  damul-server/src/main/java/com/damul/api/common/comment/CommentCreate.java
  damul-server/src/main/java/com/damul/api/recipe/controller/RecipeController.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeService.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeServiceImpl.java
Due: server-build, server-test

Update nginx.conf
  damul-client/nginx.conf
Due: client-build, client-test

Chore : temp commit (progress main page edit mode) [신성우]
  damul-client/src/components/home/IngredientButton.tsx
  damul-client/src/components/home/IngredientEditOverview.tsx
  damul-client/src/components/home/IngredientStorageContainer.tsx
  damul-client/src/components/home/MenuButton.tsx
  damul-client/src/pages/home/HomePage.tsx
Due: client-build, client-test

Feat : Alarm page [윤서희]
  damul-client/src/components/alarm/AlarmItem.tsx
  damul-client/src/components/common/Header.tsx
  damul-client/src/pages/alarm/AlarmPage.tsx
  damul-client/src/routes/router.tsx
Due: client-build, client-test

Feat : Add comment [지유림]
  damul-server/src/main/java/com/damul/api/common/exception/ErrorCode.java
  damul-server/src/main/java/com/damul/api/recipe/controller/RecipeController.java
  damul-server/src/main/java/com/damul/api/recipe/entity/RecipeComment.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeService.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeServiceImpl.java
Due: server-build, server-test

Feat : Add init infinite scroll component [전종우]
  damul-client/package-lock.json
  damul-client/package.json
  damul-client/src/components/common/DamulInfiniteScrollList.tsx
  damul-client/src/components/common/Layout.tsx
  damul-client/src/components/signup/InfoForm.tsx
  damul-client/src/components/signup/TermForm.tsx
  damul-client/src/main.tsx
  damul-client/src/pages/TestPage.tsx
  damul-client/src/pages/login/LoginPage.tsx
  damul-client/src/routes/router.tsx
  damul-client/src/utils/queryClient.ts
Due: client-build, client-test

Refactor : Refactor DamulInfiniteScrollList component [전종우]
  damul-client/src/components/common/DamulInfiniteScrollList.tsx
  damul-client/src/pages/TestPage.tsx
Due: client-build, client-test

Update damul-client/nginx.conf
  damul-client/nginx.conf
Due: client-build, client-test

Refactor : Components layout [윤서희]
  damul-client/src/components/common/DamulButton.tsx
  damul-client/src/components/community/AuthorInfo.tsx
  damul-client/src/components/community/CommentItem.tsx
  damul-client/src/components/community/PostButton.tsx
  damul-client/src/components/community/PostContent.tsx
  damul-client/src/components/community/PostImage.tsx
  damul-client/src/components/community/PostRecipeIngrediants.tsx
  damul-client/src/components/community/PostRecipeOrders.tsx
  damul-client/src/components/community/PostTitle.tsx
  damul-client/src/components/community/ReplyItem.tsx
  damul-client/src/components/community/SubmitButton.tsx
  damul-client/src/pages/community/CommunityMarketDetailPage.tsx
  damul-client/src/pages/community/CommunityMarketPostPage.tsx
  damul-client/src/pages/community/CommunityRecipeDetailPage.tsx
  damul-client/src/pages/community/CommunityRecipePostPage.tsx
Due: client-build, client-test

Feat : Add api interface and login api [전종우] - Rename api folder to service - Install axios - Add interceptor to axios instance for oauth login
  damul-client/package-lock.json
  damul-client/package.json
  damul-client/src/api/http.ts
  damul-client/src/service/auth.ts
  damul-client/src/service/http.ts
  damul-client/src/utils/cookies.ts
  damul-client/src/utils/storage.ts
Due: client-build, client-test

Feat : Add RecipeService and RecipeServiceImpl [지유림]
  damul-server/src/main/java/com/damul/api/recipe/controller/RecipeController.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeService.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeServiceImpl.java
Due: server-build, server-test

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Feat : Add method to fetch recipe details with bookmark status[지유림]
  damul-server/src/main/java/com/damul/api/DamulServerApplication.java
  damul-server/src/main/java/com/damul/api/recipe/controller/RecipeController.java
  damul-server/src/main/java/com/damul/api/recipe/entity/RecipeBookmark.java
  damul-server/src/main/java/com/damul/api/recipe/entity/RecipeComment.java
  damul-server/src/main/java/com/damul/api/recipe/entity/RecipeIngredient.java
  damul-server/src/main/java/com/damul/api/recipe/entity/RecipeLike.java
  damul-server/src/main/java/com/damul/api/recipe/entity/RecipeStep.java
  damul-server/src/main/java/com/damul/api/recipe/entity/RecipeTag.java
  damul-server/src/main/java/com/damul/api/recipe/repository/RecipeBookmarkRepository.java
  damul-server/src/main/java/com/damul/api/recipe/repository/RecipeCommentRepository.java
  damul-server/src/main/java/com/damul/api/recipe/repository/RecipeIngredientRepository.java
  damul-server/src/main/java/com/damul/api/recipe/repository/RecipeLikeRepository.java
  damul-server/src/main/java/com/damul/api/recipe/repository/RecipeRepository.java
  damul-server/src/main/java/com/damul/api/recipe/repository/RecipeStepRepository.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeService.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeServiceImpl.java
  damul-server/src/main/java/com/damul/api/scheduler/ViewCountSyncScheduler.java
Due: server-build, server-test

Refactor : Modify UserRepository SELECT userList [지유림]
  damul-server/src/main/java/com/damul/api/user/controller/UserController.java
  damul-server/src/main/java/com/damul/api/user/repository/UserRepository.java
Due: server-build, server-test
