Repository rpeowiqu/damul: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client-build, server-build, client-test, server-test

client-build:
  tags:
  - docker
  image: docker:latest
  stage: build
  services:
  - name: docker:dind
    command:
    - --tls=false
    alias: docker
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_BUILDKIT: 1
    DOCKER_DRIVER: overlay2
  before_script:
  ...

server-build:
  tags:
  - docker
  image: docker:latest
  stage: build
  services:
  - name: docker:dind
    command:
    - --tls=false
    alias: docker
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_BUILDKIT: 1
    DOCKER_DRIVER: overlay2
  before_script:
  ...

client-test:
  tags:
  - docker
  stage: test
  image: node:latest
  script:
  - cd damul-client
  - npm ci
  - npm run test

server-test:
  tags:
  - docker
  stage: test
  image: gradle:8.12-jdk17
  script:
  - cd damul-server
  - gradle clean test

Chore: Add folder [윤혜진]
  .gitlab-ci.yml
Due: none

Add: Add Jenkinsfile in Server[한재서]
  .gitlab-ci.yml
  Jenkinsfile
Due: none

Add: Add Jenkinsfile in Client[한재서]
  .gitlab-ci.yml
  Jenkinsfile
Due: none

Design : Change table head name [전종우] - Rename AdminPostSharePage to AdminPostMarketPage
  damul-client/src/pages/admin/AdminPostMarketPage.tsx
  damul-client/src/pages/admin/AdminPostPage.tsx
  damul-client/src/pages/admin/AdminPostRecipePage.tsx
  damul-client/src/routes/router.tsx
  damul-client/src/types/admin.ts
Due: client-build, client-test

Design : Change report layouts [전종우]
  damul-client/src/main.tsx
  damul-client/src/pages/report/ReportPage.tsx
Due: client-build, client-test

Feat : file-upload [지유림]
  damul-server/build.gradle
  damul-server/src/main/java/com/damul/api/auth/entity/Terms.java
  damul-server/src/main/java/com/damul/api/auth/entity/User.java
  damul-server/src/main/java/com/damul/api/auth/jwt/JwtTokenProvider.java
  damul-server/src/main/java/com/damul/api/config/SecurityConfig.java
  damul-server/src/test/java/com/damul/api/DamulServerApplicationTests.java
  damul-server/src/test/java/com/damul/api/auth/controller/AuthControllerTest.java
  damul-server/src/test/java/com/damul/api/auth/controller/TestAuthController.java
  damul-server/src/test/resources/application-test.yml
Due: server-build, server-test

Fix : Change friend pages to profile sub pages [전종우] - Change Link, NavLink component 'to' property
  damul-client/src/main.tsx
  damul-client/src/pages/profile/ProfileFriendFollowerPage.tsx
  damul-client/src/pages/profile/ProfileFriendFollowingPage.tsx
  damul-client/src/pages/profile/ProfileFriendPage.tsx
  damul-client/src/pages/profile/ProfileInfoPage.tsx
  damul-client/src/routes/router.tsx
Due: client-build, client-test

Refactor : Change DamulButton props [전종우] - Refactor PostButton component
  damul-client/src/components/common/DamulButton.tsx
  damul-client/src/components/community/PostButton.tsx
  damul-client/src/pages/setting/SettingPage.tsx
Due: client-build, client-test

Fix : Remove HomeIngredientsRegisterPage in router [전종우]
  damul-client/src/routes/router.tsx
Due: client-build, client-test

Feat: Add GPT [유윤혜진]
  .env
  .gitlab-ci.yml
  damul-ocr/.env
  damul-ocr/app/__pycache__/config.cpython-39.pyc
  damul-ocr/app/__pycache__/main.cpython-39.pyc
  damul-ocr/app/config.py
  damul-ocr/app/main.py
  damul-ocr/app/services/__pycache__/gpt_service.cpython-39.pyc
  damul-ocr/app/services/gpt_service.py
  damul-ocr/requirements.txt
Due: none

Chore: Add folder structure [윤혜진]
  damul-ocr/app/__init__.py
  damul-ocr/app/config.py
  damul-ocr/app/core/__init__.py
  damul-ocr/app/dependencies.py
  damul-ocr/app/services/__init__.py
  damul-ocr/app/services/gpt_service.py
  damul-ocr/app/services/ocr_service.py
Due: none

Update .gitignore Deleted damul-server/src/main/java/com/damul/api/receipt/entity/UserReceipt.java:Zone.Identifier
  .gitignore
  damul-server/src/main/java/com/damul/api/receipt/entity/UserReceipt.java:Zone.Identifier
Due: server-build, server-test

Feat: Add HTTP request and response fuction [윤혜진]
  .env
  damul-ocr/app/__pycache__/__init__.cpython-39.pyc
  damul-ocr/app/__pycache__/main.cpython-39.pyc
  damul-ocr/app/main.py
  damul-ocr/app/services/__pycache__/__init__.cpython-39.pyc
  damul-ocr/app/services/__pycache__/ocr_service.cpython-39.pyc
  damul-ocr/app/services/ocr_service.py
  damul-ocr/requirements.txt
Due: none

Feat: ocr and data cleansing(9->g) [윤혜진]
  damul-ocr/app/config.py
  damul-ocr/app/services/ocr_service.py
  damul-ocr/requirements.txt
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Remove: Remove gitlab pipeline[한재서]
  .gitlab-ci.yml
Due: none

Chore : Add redirect URLs configuration to application.yml and use in the code [지유림]
  damul-server/src/main/java/com/damul/api/auth/oauth2/handler/OAuth2SuccessHandler.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Feat : Add follow and unfollow [지유림]
  damul-server/src/main/java/com/damul/api/user/controller/UserController.java
  damul-server/src/main/java/com/damul/api/user/service/FollowServiceImpl.java
Due: server-build, server-test

Fix : OAuth2 kakao, google [지유림]
  damul-server/src/main/java/com/damul/api/auth/controller/AuthController.java
  damul-server/src/main/java/com/damul/api/auth/entity/User.java
  damul-server/src/main/java/com/damul/api/auth/oauth2/dto/GoogleResponse.java
  damul-server/src/main/java/com/damul/api/auth/oauth2/dto/NaverResponse.java
  damul-server/src/main/java/com/damul/api/auth/oauth2/handler/OAuth2SuccessHandler.java
  damul-server/src/main/java/com/damul/api/auth/oauth2/service/CustomOAuth2UserService.java
  damul-server/src/main/java/com/damul/api/auth/service/AuthService.java
  damul-server/src/main/java/com/damul/api/config/RedisConfig.java
  damul-server/src/main/java/com/damul/api/config/SecurityConfig.java
  damul-server/src/main/java/com/damul/api/config/WebSocketSecurityConfig.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Chore : Move dto folder into scroll inside common [지유림]
  damul-server/src/main/java/com/damul/api/chat/controller/ChatRoomController.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatRoomService.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatRoomServiceImpl.java
  damul-server/src/main/java/com/damul/api/common/dto/request/ScrollRequest.java
  damul-server/src/main/java/com/damul/api/common/dto/response/CreateResponse.java
  damul-server/src/main/java/com/damul/api/common/dto/response/CursorPageMetaInfo.java
  damul-server/src/main/java/com/damul/api/common/dto/response/ScrollResponse.java
  damul-server/src/main/java/com/damul/api/common/scroll/dto/request/ScrollRequest.java
  damul-server/src/main/java/com/damul/api/common/scroll/dto/response/CreateResponse.java
  damul-server/src/main/java/com/damul/api/common/scroll/dto/response/CursorPageMetaInfo.java
  damul-server/src/main/java/com/damul/api/common/scroll/dto/response/ScrollResponse.java
  damul-server/src/main/java/com/damul/api/user/controller/UserController.java
  damul-server/src/main/java/com/damul/api/user/service/FollowService.java
  damul-server/src/main/java/com/damul/api/user/service/FollowServiceImpl.java
  damul-server/src/main/java/com/damul/api/user/service/UserService.java
  damul-server/src/main/java/com/damul/api/user/service/UserServiceImpl.java
Due: server-build, server-test

Feat : Add ErrorCode [지유림]
  damul-server/src/main/java/com/damul/api/common/exception/ErrorCode.java
  damul-server/src/main/java/com/damul/api/user/controller/UserController.java
  damul-server/src/main/java/com/damul/api/user/service/FollowServiceImpl.java
Due: server-build, server-test

Remove: delete .env [윤혜진]
  damul-ocr/.env
Due: none

Refactor : Modify TermsResponse to Terms [지유림]
  damul-server/src/main/java/com/damul/api/auth/controller/AuthController.java
  damul-server/src/main/java/com/damul/api/auth/dto/response/TermsResponse.java
  damul-server/src/main/java/com/damul/api/auth/dto/response/UserConsent.java
  damul-server/src/main/java/com/damul/api/auth/entity/Terms.java
  damul-server/src/main/java/com/damul/api/auth/entity/User.java
  damul-server/src/main/java/com/damul/api/auth/repository/TermsRepository.java
  damul-server/src/main/java/com/damul/api/auth/service/AuthService.java
  damul-server/src/main/java/com/damul/api/user/repository/UserRepository.java
  damul-server/src/main/java/com/damul/api/user/service/UserServiceImpl.java
Due: server-build, server-test

Feat : Add file upload funtion [지유림]
  damul-server/src/main/java/com/damul/api/auth/entity/User.java
  damul-server/src/main/java/com/damul/api/common/exception/ErrorCode.java
  damul-server/src/main/java/com/damul/api/config/WebMvcConfig.java
  damul-server/src/main/java/com/damul/api/file/dto/request/FileInfo.java
  damul-server/src/main/java/com/damul/api/file/dto/response/FileResponse.java
  damul-server/src/main/java/com/damul/api/file/dto/type/FileType.java
  damul-server/src/main/java/com/damul/api/file/service/FileService.java
  damul-server/src/main/java/com/damul/api/user/controller/UserController.java
  damul-server/src/main/java/com/damul/api/user/dto/request/SettingUpdate.java
  damul-server/src/main/java/com/damul/api/user/service/UserServiceImpl.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Chore: add gitignore, rename variable [윤혜진]
  damul-ocr/.gitignore
  damul-ocr/app/services/gpt_service.py
Due: none

Chore: Add image resize, gpt prompting(filter out non-food items) [윤혜진]
  damul-ocr/app/__pycache__/main.cpython-39.pyc
  damul-ocr/app/main.py
  damul-ocr/app/services/__pycache__/gpt_service.cpython-39.pyc
  damul-ocr/app/services/__pycache__/ocr_service.cpython-39.pyc
  damul-ocr/app/services/gpt_service.py
  damul-ocr/app/services/ocr_service.py
Due: none

Feat : Add S3 Service and S3Config [지유림]
  damul-server/build.gradle
  damul-server/src/main/java/com/damul/api/config/S3Config.java
  damul-server/src/main/java/com/damul/api/config/WebMvcConfig.java
  damul-server/src/main/java/com/damul/api/config/service/S3Service.java
  damul-server/src/main/java/com/damul/api/file/dto/request/FileInfo.java
  damul-server/src/main/java/com/damul/api/file/dto/response/FileResponse.java
  damul-server/src/main/java/com/damul/api/file/dto/type/FileType.java
  damul-server/src/main/java/com/damul/api/file/service/FileService.java
  damul-server/src/main/java/com/damul/api/user/controller/UserController.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Fix: Remove invalid path file
  .gitlab-ci.yml
Due: none

Feat : Add user search and get [지유림]
  damul-server/src/main/java/com/damul/api/common/exception/ErrorCode.java
  damul-server/src/main/java/com/damul/api/user/controller/UserController.java
  damul-server/src/main/java/com/damul/api/user/repository/FollowRepository.java
  damul-server/src/main/java/com/damul/api/user/repository/UserRepository.java
  damul-server/src/main/java/com/damul/api/user/service/FollowService.java
  damul-server/src/main/java/com/damul/api/user/service/FollowServiceImpl.java
  damul-server/src/main/java/com/damul/api/user/service/UserService.java
  damul-server/src/main/java/com/damul/api/user/service/UserServiceImpl.java
Due: server-build, server-test

Refactor: Modify IngredientList GET logics[한재서] - modify IngredientResponse, UserIngredientList DTOs - modify HomeServiceImpl
  damul-server/src/main/java/com/damul/api/main/service/HomeServiceImpl.java
Due: server-build, server-test

Remove: delete gitignore [윤혜진]
  damul-ocr/.gitignore
Due: none

Feat user settings retrieval API [지유림]
  damul-server/src/main/java/com/damul/api/auth/entity/User.java
  damul-server/src/main/java/com/damul/api/auth/entity/type/AccessRange.java
  damul-server/src/main/java/com/damul/api/user/controller/UserController.java
  damul-server/src/main/java/com/damul/api/user/dto/request/SettingUpdate.java
  damul-server/src/main/java/com/damul/api/user/repository/UserRepository.java
  damul-server/src/main/java/com/damul/api/user/service/UserService.java
  damul-server/src/main/java/com/damul/api/user/service/UserServiceImpl.java
Due: server-build, server-test

Add: Add Jenkinsfile[한재서]
  Jenkinsfile
  damul-server/src/main/java/com/damul/api/main/dto/response/IngredientResponse.java
  damul-server/src/main/java/com/damul/api/main/dto/response/UserIngredientList.java
Due: server-build, server-test

Remove : remove WebSocketSecurityConfig.java [지유림]
  damul-server/src/main/java/com/damul/api/config/SecurityConfig.java
  damul-server/src/main/java/com/damul/api/config/WebSocketSecurityConfig.java
Due: server-build, server-test

Feat : Add follow and following service [지유림]
  damul-server/src/main/java/com/damul/api/user/controller/UserController.java
  damul-server/src/main/java/com/damul/api/user/dto/response/UserList.java
  damul-server/src/main/java/com/damul/api/user/repository/FollowRepository.java
  damul-server/src/main/java/com/damul/api/user/service/FollowService.java
  damul-server/src/main/java/com/damul/api/user/service/FollowServiceImpl.java
Due: server-build, server-test

Update damul-server/src/main/java/com/damul/api/chat/controller/ChatRoomController.java
  damul-server/src/main/java/com/damul/api/chat/controller/ChatRoomController.java
Due: server-build, server-test

Fix : Svg components [윤서희]
  damul-client/src/components/community/AuthorInfo.tsx
  damul-client/src/components/home/MenuButton.tsx
  damul-client/src/components/svg/AlarmIcon.tsx
  damul-client/src/components/svg/AlertCircleIcon.tsx
  damul-client/src/components/svg/BookMarkIcon.tsx
  damul-client/src/components/svg/CheckCircleIcon.tsx
  damul-client/src/components/svg/ContentIcon.tsx
  damul-client/src/components/svg/DeleteIcon.tsx
  damul-client/src/components/svg/EditIcon.tsx
  damul-client/src/components/svg/GoogleIcon.tsx
  damul-client/src/components/svg/ImageUploadIcon.tsx
  damul-client/src/components/svg/IngredientsIcon.tsx
  damul-client/src/components/svg/KakaoIcon.tsx
  damul-client/src/components/svg/LikesIcon.tsx
  damul-client/src/components/svg/MemberIcon.tsx
  damul-client/src/components/svg/OptionIcon.tsx
  damul-client/src/components/svg/OrdersIcon.tsx
  damul-client/src/components/svg/PictureIcon.tsx
  damul-client/src/components/svg/PlusIcon.tsx
  damul-client/src/components/svg/ReportIcon.tsx
  damul-client/src/components/svg/SearchIcon.tsx
  damul-client/src/components/svg/SendIcon.tsx
  damul-client/src/components/svg/TitleIcon.tsx
  damul-client/src/components/svg/ViewIcon.tsx
  damul-client/src/components/svg/WriteIcon.tsx
Due: client-build, client-test

Path conditions:
  client-build: any of: damul-client/**/*
  server-build: any of: damul-server/**/*
  client-test: any of: damul-client/**/*
  server-test: any of: damul-server/**/*
