Repository rpeowiqu/damul: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client-build, server-build, client-test, server-test

client-build:
  tags:
  - docker
  image: docker:latest
  stage: build
  services:
  - name: docker:dind
    command:
    - --tls=false
    alias: docker
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_BUILDKIT: 1
    DOCKER_DRIVER: overlay2
  before_script:
  ...

server-build:
  tags:
  - docker
  image: docker:latest
  stage: build
  services:
  - name: docker:dind
    command:
    - --tls=false
    alias: docker
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_BUILDKIT: 1
    DOCKER_DRIVER: overlay2
  before_script:
  ...

client-test:
  tags:
  - docker
  stage: test
  image: node:latest
  script:
  - cd damul-client
  - npm ci
  - npm run test

server-test:
  tags:
  - docker
  stage: test
  image: gradle:8.12-jdk17
  script:
  - cd damul-server
  - gradle clean test

Chore: Save [ì[윤혜진]
  damul-server/src/main/java/com/damul/api/post/entity/Posts.java
Due: server-build, server-test

Chore: Add Dockerfile and remove OPENAI_KEY1 [윤혜진]
  damul-ocr/Dockerfile
  damul-ocr/app/config.py
Due: none

Remove: remove yaml file [윤혜진]
  .gitlab-ci.yml
Due: none

Chore: delete testcode [윤혜진]
  damul-ocr/app/main.py
Due: none

Refactor : Use FeedList component in profile [윤서희]
  damul-client/src/components/common/FeedCard.tsx
  damul-client/src/components/common/FeedList.tsx
  damul-client/src/pages/community/CommunityMarketMainPage.tsx
  damul-client/src/pages/community/CommunityRecipeMainPage.tsx
  damul-client/src/pages/community/CommunitySearchResultPage.tsx
  damul-client/src/pages/profile/ProfileBookmarkPage.tsx
  damul-client/src/pages/profile/ProfileRecipePage.tsx
  damul-client/src/pages/setting/SettingPage.tsx
Due: client-build, client-test

Fix : Replace invalid properties of svgs [윤서희]
  damul-client/src/components/svg/AlertCircleIcon.tsx
  damul-client/src/components/svg/AlertTriangleIcon.tsx
  damul-client/src/components/svg/BookMarkIcon.tsx
  damul-client/src/components/svg/ChattingIcon.tsx
  damul-client/src/components/svg/CheckCircleIcon.tsx
  damul-client/src/components/svg/CommunityIcon.tsx
  damul-client/src/components/svg/ContentIcon.tsx
  damul-client/src/components/svg/DeleteIcon.tsx
  damul-client/src/components/svg/GoogleIcon.tsx
  damul-client/src/components/svg/ImageUploadIcon.tsx
  damul-client/src/components/svg/LikesIcon.tsx
  damul-client/src/components/svg/MemberIcon.tsx
  damul-client/src/components/svg/MenuIcon.tsx
  damul-client/src/components/svg/OrdersIcon.tsx
  damul-client/src/components/svg/PlusIcon.tsx
  damul-client/src/components/svg/SaveIcon.tsx
  damul-client/src/components/svg/SearchIcon.tsx
  damul-client/src/components/svg/StatisticsIcon.tsx
  damul-client/src/components/svg/TitleIcon.tsx
  damul-client/src/components/svg/ViewIcon.tsx
Due: client-build, client-test

Design : Change svg property name [전종우]
  damul-client/src/components/svg/NaverIcon.tsx
  damul-client/src/components/svg/SearchIcon.tsx
  damul-client/src/components/svg/ViewIcon.tsx
Due: client-build, client-test

Add: Add api for GET ChatMessages[한재서] - Add methods in ChatMessageRepository - Add ChatMessageService and ChatMessageServiceImpl file - Add api in ChatRoomController
  damul-server/src/main/java/com/damul/api/chat/controller/ChatRoomController.java
  damul-server/src/main/java/com/damul/api/chat/repository/ChatMessageRepository.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatMessageService.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatMessageServiceImpl.java
Due: server-build, server-test

Feat : Add file-upload function [지유림]
  damul-server/src/main/java/com/damul/api/auth/controller/TestAuthController.java
  damul-server/src/main/java/com/damul/api/auth/entity/User.java
  damul-server/src/main/java/com/damul/api/auth/jwt/JwtTokenProvider.java
  damul-server/src/main/java/com/damul/api/common/exception/ErrorCode.java
  damul-server/src/main/java/com/damul/api/config/S3Config.java
  damul-server/src/main/java/com/damul/api/config/SecurityConfig.java
  damul-server/src/main/java/com/damul/api/config/service/S3Service.java
  damul-server/src/main/java/com/damul/api/user/controller/UserController.java
  damul-server/src/main/java/com/damul/api/user/service/UserService.java
  damul-server/src/main/java/com/damul/api/user/service/UserServiceImpl.java
  damul-server/src/main/resources/application.yml
  damul-server/src/test/java/com/damul/api/auth/controller/AuthControllerTest.java
  damul-server/src/test/resources/application-test.yml
Due: server-build, server-test

Fix : Merge request error [윤서희]
  damul-client/src/pages/community/CommunityMarketMainPage.tsx
  damul-client/src/pages/community/CommunityRecipeMainPage.tsx
Due: client-build, client-test

Refactor : Modify UserRepository SELECT userList [지유림]
  damul-server/src/main/java/com/damul/api/user/controller/UserController.java
  damul-server/src/main/java/com/damul/api/user/repository/UserRepository.java
Due: server-build, server-test

Remove : remove gitlab-ci.yml [지유림] :wq
  .gitlab-ci.yml
Due: none

Refactor : Refactor modal and drawer close action [전종우] - Rename PostDrawer to DamulDrawer - Add callback function to useCloseOnBack hook when history popped
  damul-client/src/components/common/DamulDrawer.tsx
  damul-client/src/components/common/DamulModal.tsx
  damul-client/src/components/common/ReportButton.tsx
  damul-client/src/components/community/PostDrawer.tsx
  damul-client/src/components/community/PostRecipeIngrediants.tsx
  damul-client/src/components/community/PostRecipeOrders.tsx
  damul-client/src/components/profile/BadgeShowcase.tsx
  damul-client/src/hooks/useCloseOnBack.ts
  damul-client/src/pages/community/CommunityMarketPostPage.tsx
  damul-client/src/pages/community/CommunityRecipePostPage.tsx
Due: client-build, client-test

Add: Add api for search chat rooms[한재서]
  damul-server/src/main/java/com/damul/api/chat/controller/ChatRoomController.java
  damul-server/src/main/java/com/damul/api/chat/dto/response/ChatRoomList.java
  damul-server/src/main/java/com/damul/api/chat/entity/ChatRoom.java
  damul-server/src/main/java/com/damul/api/chat/repository/ChatRoomRepository.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatMessageService.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatMessageServiceImpl.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatRoomService.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatRoomServiceImpl.java
Due: server-build, server-test

Chore : Add Recipe Dtos [지유림] add recipe service add recipe repository
  damul-server/src/main/java/com/damul/api/recipe/controller/RecipeController.java
  damul-server/src/main/java/com/damul/api/recipe/dto/request/RecipeUpdate.java
  damul-server/src/main/java/com/damul/api/recipe/dto/response/CommentList.java
  damul-server/src/main/java/com/damul/api/recipe/dto/response/CookingOrderList.java
  damul-server/src/main/java/com/damul/api/recipe/dto/response/IngredientList.java
  damul-server/src/main/java/com/damul/api/recipe/dto/response/RecipeDetail.java
  damul-server/src/main/java/com/damul/api/recipe/dto/response/RecipeList.java
  damul-server/src/main/java/com/damul/api/recipe/entity/Recipe.java
  damul-server/src/main/java/com/damul/api/recipe/entity/RecipeComment.java
  damul-server/src/main/java/com/damul/api/recipe/repository/RecipeRepository.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeService.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeServiceImpl.java
Due: server-build, server-test

Chore : Add RecipeController [지유림]
  damul-server/src/main/java/com/damul/api/recipe/controller/RecipeController.java
  damul-server/src/main/java/com/damul/api/recipe/dto/request/RecipeRequest.java
  damul-server/src/main/java/com/damul/api/recipe/dto/request/RecipeUpdate.java
Due: server-build, server-test

Feat : Add RecipeService and RecipeServiceImpl [지유림]
  damul-server/src/main/java/com/damul/api/recipe/controller/RecipeController.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeService.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeServiceImpl.java
Due: server-build, server-test

Refactor: Modify apis for GET chat rooms[한재서]
  damul-server/src/main/java/com/damul/api/chat/repository/ChatRoomRepository.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatRoomService.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatRoomServiceImpl.java
  damul-server/src/main/java/com/damul/api/common/scroll/dto/response/SearchResponse.java
Due: server-build, server-test

Refactor : Refactor missing components close action [전종우]
  damul-client/src/components/community/PostRecipeIngrediants.tsx
  damul-client/src/components/community/PostRecipeOrders.tsx
  damul-client/src/pages/community/CommunityRecipePostPage.tsx
Due: client-build, client-test

Feat : Chatting page layout [윤서희]
  damul-client/src/components/chat/ChatStartButton.tsx
  damul-client/src/components/chat/ChattingList.tsx
  damul-client/src/components/chat/ChattingListItem.tsx
  damul-client/src/components/community/PostButton.tsx
  damul-client/src/components/svg/PlusIcon.tsx
  damul-client/src/pages/chat/ChattingRoomPage.tsx
  damul-client/src/pages/chat/ChattingSearchPage.tsx
  damul-client/src/pages/chat/ChattingSearchResultPage.tsx
  damul-client/src/pages/chat/ChattingStartPage.tsx
  damul-client/src/routes/router.tsx
  damul-client/tailwind.config.js
Due: client-build, client-test

Feat: Add Post community [윤혜진]
  damul-server/src/main/java/com/damul/api/common/dto/request/PostStatusRequest.java
  damul-server/src/main/java/com/damul/api/post/dto/PostStatus.java
  damul-server/src/main/java/com/damul/api/post/dto/PostType.java
  damul-server/src/main/java/com/damul/api/post/dto/request/PostRequest.java
  damul-server/src/main/java/com/damul/api/post/dto/response/CommentList.java
  damul-server/src/main/java/com/damul/api/post/dto/response/PostDetail.java
  damul-server/src/main/java/com/damul/api/post/dto/response/PostList.java
  damul-server/src/main/java/com/damul/api/post/entity/Post.java
  damul-server/src/main/java/com/damul/api/post/entity/PostComment.java
  damul-server/src/main/java/com/damul/api/post/entity/PostImage.java
  damul-server/src/main/java/com/damul/api/post/entity/Posts.java
  damul-server/src/main/java/com/damul/api/post/repository/PostCommentRepository.java
  damul-server/src/main/java/com/damul/api/post/repository/PostImageRepository.java
  damul-server/src/main/java/com/damul/api/post/repository/PostRepository.java
Due: server-build, server-test

Add: Add api for GET chat members[한재서]
  damul-server/src/main/java/com/damul/api/chat/controller/ChatRoomController.java
  damul-server/src/main/java/com/damul/api/chat/dto/response/ChatMember.java
  damul-server/src/main/java/com/damul/api/chat/dto/response/ChatMembersResponse.java
  damul-server/src/main/java/com/damul/api/chat/entity/ChatMessage.java
  damul-server/src/main/java/com/damul/api/chat/entity/ChatRoom.java
  damul-server/src/main/java/com/damul/api/chat/entity/ChatRoomMember.java
  damul-server/src/main/java/com/damul/api/chat/repository/ChatRoomMemberRepository.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatRoomService.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatRoomServiceImpl.java
Due: server-build, server-test

Fix: Modify repository join status[한재서]
  damul-server/src/main/java/com/damul/api/chat/repository/ChatMessageRepository.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatRoomServiceImpl.java
Due: server-build, server-test

Chore : temp commit [신성우]
  damul-client/src/components/home/IngredientButton.tsx
  damul-client/src/components/home/MenuButton.tsx
  damul-client/src/components/home/StoredItemsCategories.tsx
  damul-client/src/constants/category.ts
  damul-client/src/constants/storage.ts
  damul-client/src/pages/home/HomePage.tsx
  damul-client/src/routes/router.tsx
Due: client-build, client-test

Feat: Add recipe search or information [지유림]
  damul-server/src/main/java/com/damul/api/common/exception/ErrorCode.java
  damul-server/src/main/java/com/damul/api/common/scroll/util/ScrollCursor.java
  damul-server/src/main/java/com/damul/api/common/scroll/util/ScrollUtil.java
  damul-server/src/main/java/com/damul/api/recipe/controller/RecipeController.java
  damul-server/src/main/java/com/damul/api/recipe/repository/RecipeRepository.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeService.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeServiceImpl.java
  damul-server/src/main/java/com/damul/api/user/dto/response/UserList.java
  damul-server/src/main/java/com/damul/api/user/service/FollowServiceImpl.java
  damul-server/src/main/java/com/damul/api/user/service/UserServiceImpl.java
Due: server-build, server-test

Feat : Chatting room [윤서희]
  damul-client/src/components/chat/ChattingMenuButton.tsx
  damul-client/src/components/svg/ExitIcon.tsx
  damul-client/src/pages/chat/ChattingRoomPage.tsx
  damul-client/src/pages/chat/ChattingStartPage.tsx
Due: client-build, client-test

Design : Add responsible layout for FollowerPage, FollowingPage [전종우]
  damul-client/src/pages/profile/ProfileFriendFollowerPage.tsx
  damul-client/src/pages/profile/ProfileFriendFollowingPage.tsx
Due: client-build, client-test

Design : Add responsible layout for ProfileInfoPage [전종우]
  damul-client/src/pages/profile/ProfileInfoPage.tsx
Due: client-build, client-test

Feat : Add method to fetch recipe details with bookmark status[지유림]
  damul-server/src/main/java/com/damul/api/DamulServerApplication.java
  damul-server/src/main/java/com/damul/api/recipe/controller/RecipeController.java
  damul-server/src/main/java/com/damul/api/recipe/entity/RecipeBookmark.java
  damul-server/src/main/java/com/damul/api/recipe/entity/RecipeComment.java
  damul-server/src/main/java/com/damul/api/recipe/entity/RecipeIngredient.java
  damul-server/src/main/java/com/damul/api/recipe/entity/RecipeLike.java
  damul-server/src/main/java/com/damul/api/recipe/entity/RecipeStep.java
  damul-server/src/main/java/com/damul/api/recipe/entity/RecipeTag.java
  damul-server/src/main/java/com/damul/api/recipe/repository/RecipeBookmarkRepository.java
  damul-server/src/main/java/com/damul/api/recipe/repository/RecipeCommentRepository.java
  damul-server/src/main/java/com/damul/api/recipe/repository/RecipeIngredientRepository.java
  damul-server/src/main/java/com/damul/api/recipe/repository/RecipeLikeRepository.java
  damul-server/src/main/java/com/damul/api/recipe/repository/RecipeRepository.java
  damul-server/src/main/java/com/damul/api/recipe/repository/RecipeStepRepository.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeService.java
  damul-server/src/main/java/com/damul/api/recipe/service/RecipeServiceImpl.java
  damul-server/src/main/java/com/damul/api/scheduler/ViewCountSyncScheduler.java
Due: server-build, server-test

Feat : Prepare user search layout [전종우]
  damul-client/src/components/common/DamulSearchBox.tsx
  damul-client/src/components/profile/ProfileBanner.tsx
Due: client-build, client-test

Chore : Add mock image file [신성우]
  damul-client/public/foodImage.png
  damul-client/public/그릴드치킨샐러드.jpg
  damul-client/public/된장찌개.jpg
  damul-client/public/떡볶이.jpg
  damul-client/public/불고기.jpg
  damul-client/public/비빔밥.jpg
  damul-client/public/샐러드.jpg
  damul-client/public/스파게티알리오올리오.jpg
  damul-client/public/연어덮밥.jpg
Due: client-build, client-test

Rename : modify file name [신성우]
  damul-client/src/components/home/StoredItemsCategories.tsx
Due: client-build, client-test

Feat : Add API to fetch mock data for carousel component [신성우]
  damul-client/src/components/common/DamulCarousel.tsx
Due: client-build, client-test

Feat : Add constants related to status and types related to data [신성우]
  damul-client/src/constants/itemStatus.ts
  damul-client/src/types/Ingredient.ts
  damul-client/src/types/recipe.ts
Due: client-build, client-test

Chore : modify simple code [신성우]
  damul-client/src/components/community/PostButton.tsx
  damul-client/src/components/svg/PlusIcon.tsx
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
Due: client-build, client-test

Feat : modify component related to home(main page) [신성우] - add main page flow (modal, move page) - add mock data api
  damul-client/src/components/home/ConfirmDeleteModal.tsx
  damul-client/src/components/home/IngredientButton.tsx
  damul-client/src/components/home/IngredientDetail.tsx
  damul-client/src/components/home/IngredientStorageContainer.tsx
  damul-client/src/components/home/MenuButton.tsx
  damul-client/src/components/home/UserGreeting.tsx
  damul-client/src/pages/community/CommunityRecipeMainPage.tsx
  damul-client/src/pages/home/HomePage.tsx
Due: client-build, client-test

Fix : Chatting room style error [윤서희]
  damul-client/src/pages/chat/ChattingRoomPage.tsx
Due: client-build, client-test

Fix : Mr requested changes [윤서희]
  damul-client/src/components/chat/ChattingListItem.tsx
  damul-client/src/components/footer/ChatAlram.tsx
  damul-client/src/pages/chat/ChattingSearchResultPage.tsx
  damul-client/src/pages/chat/ChattingStartPage.tsx
  damul-client/src/routes/router.tsx
Due: client-build, client-test

Chore : modify simple style code and fix router path error [신성우]
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
  damul-client/src/routes/router.tsx
Due: client-build, client-test

Feat : Change profile search bar [전종우]
  damul-client/src/components/profile/ProfileBanner.tsx
Due: client-build, client-test

Path conditions:
  client-build: any of: damul-client/**/*
  server-build: any of: damul-server/**/*
  client-test: any of: damul-client/**/*
  server-test: any of: damul-server/**/*
