Repository rpeowiqu/damul: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client-build, server-build, client-test, server-test

Path conditions:
  client-build: any of: damul-client/**/*
  server-build: any of: damul-server/**/*
  client-test: any of: damul-client/**/*
  server-test: any of: damul-server/**/*

Update damul-server/src/main/java/com/damul/api/chat/controller/ChatRoomController.java
  damul-server/src/main/java/com/damul/api/chat/controller/ChatRoomController.java
Due: server-build, server-test

Remove: delete gitignore [윤혜진]
  damul-ocr/.gitignore
Due: none

Feat : Add user search and get [지유림]
  damul-server/src/main/java/com/damul/api/common/exception/ErrorCode.java
  damul-server/src/main/java/com/damul/api/user/controller/UserController.java
  damul-server/src/main/java/com/damul/api/user/repository/FollowRepository.java
  damul-server/src/main/java/com/damul/api/user/repository/UserRepository.java
  damul-server/src/main/java/com/damul/api/user/service/FollowService.java
  damul-server/src/main/java/com/damul/api/user/service/FollowServiceImpl.java
  damul-server/src/main/java/com/damul/api/user/service/UserService.java
  damul-server/src/main/java/com/damul/api/user/service/UserServiceImpl.java
Due: server-build, server-test

Feat user settings retrieval API [지유림]
  damul-server/src/main/java/com/damul/api/auth/entity/User.java
  damul-server/src/main/java/com/damul/api/auth/entity/type/AccessRange.java
  damul-server/src/main/java/com/damul/api/user/controller/UserController.java
  damul-server/src/main/java/com/damul/api/user/dto/request/SettingUpdate.java
  damul-server/src/main/java/com/damul/api/user/repository/UserRepository.java
  damul-server/src/main/java/com/damul/api/user/service/UserService.java
  damul-server/src/main/java/com/damul/api/user/service/UserServiceImpl.java
Due: server-build, server-test

Feat : Add init pagenation component [전종우]
  damul-client/src/components/common/Pagenation.tsx
  damul-client/src/constants/pagenation.ts
  damul-client/src/pages/admin/AdminReportPage.tsx
Due: client-build, client-test

Feat : Community Detail Icons [윤서희]
  damul-client/src/components/common/FeedList.tsx
  damul-client/src/components/community/AuthorInfo.tsx
  damul-client/src/components/community/CommunityDetailHeader.tsx
  damul-client/src/components/community/CommunitySearch.tsx
  damul-client/src/components/community/PostButton.tsx
  damul-client/src/components/community/PostCard.tsx
  damul-client/src/components/community/PostMarketMemberCnt.tsx
  damul-client/src/components/svg/BookMarkIcon.tsx
  damul-client/src/components/svg/DeleteIcon.tsx
  damul-client/src/components/svg/LikesIcon.tsx
  damul-client/src/components/svg/ReportIcon.tsx
  damul-client/src/components/svg/ViewIcon.tsx
  damul-client/src/pages/community/CommunityMarketSearchPage.tsx
  damul-client/src/pages/community/CommunityRecipeDetailPage.tsx
  damul-client/src/pages/community/CommunityRecipeSearchPage.tsx
  damul-client/src/pages/community/CommunitySearchResultPage.tsx
Due: client-build, client-test

Feat : Add pagenation to report page [전종우] - remove comma in main.tsx
  damul-client/src/components/common/Pagenation.tsx
  damul-client/src/components/ui/pagination.tsx
  damul-client/src/main.tsx
  damul-client/src/pages/admin/AdminReportPage.tsx
Due: client-build, client-test

Refactor : Modify TermsResponse to Terms [지유림]
  damul-server/src/main/java/com/damul/api/auth/controller/AuthController.java
  damul-server/src/main/java/com/damul/api/auth/dto/response/TermsResponse.java
  damul-server/src/main/java/com/damul/api/auth/dto/response/UserConsent.java
  damul-server/src/main/java/com/damul/api/auth/entity/Terms.java
  damul-server/src/main/java/com/damul/api/auth/entity/User.java
  damul-server/src/main/java/com/damul/api/auth/repository/TermsRepository.java
  damul-server/src/main/java/com/damul/api/auth/service/AuthService.java
  damul-server/src/main/java/com/damul/api/user/repository/UserRepository.java
  damul-server/src/main/java/com/damul/api/user/service/UserServiceImpl.java
Due: server-build, server-test

Chore : Add redirect URLs configuration to application.yml and use in the code [지유림]
  damul-server/src/main/java/com/damul/api/auth/oauth2/handler/OAuth2SuccessHandler.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Feat : Add report detail component [전종우] - use search param for persistent search data
  damul-client/src/components/admin/ReportDetail.tsx
  damul-client/src/components/common/Pagenation.tsx
  damul-client/src/pages/admin/AdminReportPage.tsx
  damul-client/src/routes/router.tsx
Due: client-build, client-test

Feat : Add admin user page [전종우]
  damul-client/src/components/admin/Header.tsx
  damul-client/src/components/admin/UserDetail.tsx
  damul-client/src/pages/admin/AdminLoginPage.tsx
  damul-client/src/pages/admin/AdminPostPage.tsx
  damul-client/src/pages/admin/AdminUserPage.tsx
  damul-client/src/routes/router.tsx
  damul-client/src/types/admin.ts
Due: client-build, client-test

Fix : OAuth2 kakao, google [지유림]
  damul-server/src/main/java/com/damul/api/auth/controller/AuthController.java
  damul-server/src/main/java/com/damul/api/auth/entity/User.java
  damul-server/src/main/java/com/damul/api/auth/oauth2/dto/GoogleResponse.java
  damul-server/src/main/java/com/damul/api/auth/oauth2/dto/NaverResponse.java
  damul-server/src/main/java/com/damul/api/auth/oauth2/handler/OAuth2SuccessHandler.java
  damul-server/src/main/java/com/damul/api/auth/oauth2/service/CustomOAuth2UserService.java
  damul-server/src/main/java/com/damul/api/auth/service/AuthService.java
  damul-server/src/main/java/com/damul/api/config/RedisConfig.java
  damul-server/src/main/java/com/damul/api/config/SecurityConfig.java
  damul-server/src/main/java/com/damul/api/config/WebSocketSecurityConfig.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Feat : Add init admin post page [전종우]
  damul-client/src/pages/admin/AdminPostPage.tsx
  damul-client/src/pages/admin/AdminPostRecipePage.tsx
  damul-client/src/pages/admin/AdminPostSharePage.tsx
  damul-client/src/routes/router.tsx
  damul-client/src/types/admin.ts
Due: client-build, client-test

Feat : Add IngredientCategoryFilter Component [신성우] - modify shadcn ui component - add category constants (korean) - add IngredientCategoryFilter component (select box)
  damul-client/src/components/home/IngredientButton.tsx
  damul-client/src/components/home/IngredientCategoryFilter.tsx
  damul-client/src/components/home/StoredItemsCategories.tsx
  damul-client/src/components/ui/select.tsx
  damul-client/src/constants/category.ts
  damul-client/src/pages/home/HomePage.tsx
Due: client-build, client-test

Feat : Add RegisterPage route path and related button [신성우]
  damul-client/src/components/common/Footer.tsx
  damul-client/src/components/home/MenuButton.tsx
  damul-client/src/components/svg/PlusIcon.tsx
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
  damul-client/src/routes/router.tsx
Due: client-build, client-test

Feat : Add IngredientDetail modal ui [신성우] - add related svg icon - add shadcn slider ui library - modify shadcn slider css
  damul-client/package-lock.json
  damul-client/package.json
  damul-client/src/components/home/IngredientDetail.tsx
  damul-client/src/components/svg/DeleteIcon.tsx
  damul-client/src/components/svg/SaveIcon.tsx
  damul-client/src/components/ui/slider.tsx
Due: client-build, client-test

Chore : modify carousel component [신성우] - remove unused props, constants, and icon
  damul-client/src/components/ui/carousel.tsx
Due: client-build, client-test

Remove : remove WebSocketSecurityConfig.java [지유림]
  damul-server/src/main/java/com/damul/api/config/SecurityConfig.java
  damul-server/src/main/java/com/damul/api/config/WebSocketSecurityConfig.java
Due: server-build, server-test

Feat : Community components [윤서희]
  damul-client/src/components/common/FeedCard.tsx
  damul-client/src/components/community/AuthorInfo.tsx
  damul-client/src/components/community/CommentItem.tsx
  damul-client/src/components/community/CommentsSection.tsx
  damul-client/src/components/community/CommunityDetailHeader.tsx
  damul-client/src/components/community/CommunitySearch.tsx
  damul-client/src/components/community/ContentSection.tsx
  damul-client/src/components/community/CookingOrderSection.tsx
  damul-client/src/components/community/IngredientsSection.tsx
  damul-client/src/components/community/PostCard.tsx
  damul-client/src/components/community/PostMarketMemberCnt.tsx
  damul-client/src/components/community/PostRecipeOrders.tsx
  damul-client/src/components/community/ReplyItem.tsx
  damul-client/src/pages/community/CommunityMarketPostPage.tsx
  damul-client/src/pages/community/CommunityRecipeDetailPage.tsx
  damul-client/src/pages/community/CommunityRecipePostPage.tsx
Due: client-build, client-test

Feat : Add Icons for post page [윤서희]
  damul-client/src/components/community/PostCard.tsx
  damul-client/src/components/svg/ContentIcon.tsx
  damul-client/src/components/svg/IngredientsIcon.tsx
  damul-client/src/components/svg/MemberIcon.tsx
  damul-client/src/components/svg/OrdersIcon.tsx
  damul-client/src/components/svg/PictureIcon.tsx
  damul-client/src/components/svg/TitleIcon.tsx
Due: client-build, client-test

Fix : Fix drawer layout [윤서희] - keep showing footer when drawer open
  damul-client/src/components/community/PostDrawer.tsx
  damul-client/src/components/ui/drawer.tsx
Due: client-build, client-test

Chore : Move dto folder into scroll inside common [지유림]
  damul-server/src/main/java/com/damul/api/chat/controller/ChatRoomController.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatRoomService.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatRoomServiceImpl.java
  damul-server/src/main/java/com/damul/api/common/dto/request/ScrollRequest.java
  damul-server/src/main/java/com/damul/api/common/dto/response/CreateResponse.java
  damul-server/src/main/java/com/damul/api/common/dto/response/CursorPageMetaInfo.java
  damul-server/src/main/java/com/damul/api/common/dto/response/ScrollResponse.java
  damul-server/src/main/java/com/damul/api/common/scroll/dto/request/ScrollRequest.java
  damul-server/src/main/java/com/damul/api/common/scroll/dto/response/CreateResponse.java
  damul-server/src/main/java/com/damul/api/common/scroll/dto/response/CursorPageMetaInfo.java
  damul-server/src/main/java/com/damul/api/common/scroll/dto/response/ScrollResponse.java
  damul-server/src/main/java/com/damul/api/user/controller/UserController.java
  damul-server/src/main/java/com/damul/api/user/service/FollowService.java
  damul-server/src/main/java/com/damul/api/user/service/FollowServiceImpl.java
  damul-server/src/main/java/com/damul/api/user/service/UserService.java
  damul-server/src/main/java/com/damul/api/user/service/UserServiceImpl.java
Due: server-build, server-test

Chore : Modify style [신성우] - modify svg className props - modify Icon style
  damul-client/src/components/home/IngredientDetail.tsx
  damul-client/src/components/svg/PlusIcon.tsx
Due: client-build, client-test

Feat : Add ConfirmDeleteModal Component [신성우]
  damul-client/src/components/home/ConfirmDeleteModal.tsx
Due: client-build, client-test

Feat : Add Ingredient register page UI [신성우] - add Ingredient item component - add Ingredient register page component
  damul-client/src/components/home/IngredientItem.tsx
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
Due: client-build, client-test

Feat : Chatting main page [윤서희
  damul-client/src/components/chat/ChattingList.tsx
  damul-client/src/components/chat/ChattingListInfo.tsx
  damul-client/src/components/chat/ChattingListItem.tsx
  damul-client/src/pages/chat/ChattingMainPage.tsx
  damul-client/src/pages/chat/ChattingSearchPage.tsx
  damul-client/src/routes/router.tsx
Due: client-build, client-test

Feat : Add file upload funtion [지유림]
  damul-server/src/main/java/com/damul/api/auth/entity/User.java
  damul-server/src/main/java/com/damul/api/common/exception/ErrorCode.java
  damul-server/src/main/java/com/damul/api/config/WebMvcConfig.java
  damul-server/src/main/java/com/damul/api/file/dto/request/FileInfo.java
  damul-server/src/main/java/com/damul/api/file/dto/response/FileResponse.java
  damul-server/src/main/java/com/damul/api/file/dto/type/FileType.java
  damul-server/src/main/java/com/damul/api/file/service/FileService.java
  damul-server/src/main/java/com/damul/api/user/controller/UserController.java
  damul-server/src/main/java/com/damul/api/user/dto/request/SettingUpdate.java
  damul-server/src/main/java/com/damul/api/user/service/UserServiceImpl.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Feat : Improve admin pages for responsible layout [전종우]
  damul-client/src/components/admin/Header.tsx
  damul-client/src/components/admin/UserDetail.tsx
  damul-client/src/pages/admin/AdminPostPage.tsx
  damul-client/src/pages/admin/AdminPostRecipePage.tsx
  damul-client/src/pages/admin/AdminPostSharePage.tsx
  damul-client/src/pages/admin/AdminReportPage.tsx
  damul-client/src/pages/admin/AdminUserPage.tsx
  damul-client/tailwind.config.js
Due: client-build, client-test

Chore: Add image resize, gpt prompting(filter out non-food items) [윤혜진]
  damul-ocr/app/__pycache__/main.cpython-39.pyc
  damul-ocr/app/main.py
  damul-ocr/app/services/__pycache__/gpt_service.cpython-39.pyc
  damul-ocr/app/services/__pycache__/ocr_service.cpython-39.pyc
  damul-ocr/app/services/gpt_service.py
  damul-ocr/app/services/ocr_service.py
Due: none

Feat : Chatting search page [윤서희] - Added chatting search page - Edited recent searches for chatting - Edited post button for global use
  damul-client/src/components/chat/ChatStartButton.tsx
  damul-client/src/components/chat/ChattingList.tsx
  damul-client/src/components/chat/ChattingListInfo.tsx
  damul-client/src/components/chat/ChattingListItem.tsx
  damul-client/src/components/community/CommunitySearch.tsx
  damul-client/src/components/community/PostButton.tsx
  damul-client/src/components/footer/ChatAlram.tsx
  damul-client/src/components/footer/Tab.tsx
  damul-client/src/components/svg/PlusIcon.tsx
  damul-client/src/pages/chat/ChattingMainPage.tsx
  damul-client/src/pages/chat/ChattingSearchPage.tsx
  damul-client/src/pages/chat/ChattingStartPage.tsx
  damul-client/src/pages/community/CommunityMarketMainPage.tsx
  damul-client/src/pages/community/CommunityMarketSearchPage.tsx
  damul-client/src/pages/community/CommunityRecipeMainPage.tsx
  damul-client/src/pages/community/CommunityRecipeSearchPage.tsx
  damul-client/src/routes/router.tsx
  damul-client/src/utils/storage.ts
Due: client-build, client-test

Design : Change admin page elements style for responsible layout [전종우]
  damul-client/src/components/admin/Header.tsx
  damul-client/src/components/common/Pagenation.tsx
  damul-client/src/pages/admin/AdminPostRecipePage.tsx
  damul-client/src/pages/admin/AdminPostSharePage.tsx
  damul-client/src/pages/admin/AdminReportPage.tsx
Due: client-build, client-test

Feat : Add report page init layout [전종우]
  damul-client/src/pages/report/ReportPage.tsx
  damul-client/src/routes/router.tsx
Due: client-build, client-test

Fix : Community components [윤서희] - Add icons in post page - Add preview of image in post page
  damul-client/src/components/community/PostCard.tsx
  damul-client/src/components/community/PostImage.tsx
  damul-client/src/components/community/PostRecipeOrderForm.tsx
  damul-client/src/components/community/PostRecipeOrders.tsx
  damul-client/src/components/svg/CheckCircleIcon.tsx
  damul-client/src/components/svg/ImageUploadIcon.tsx
  damul-client/src/pages/community/CommunityRecipePostPage.tsx
Due: client-build, client-test

Design : Change main logo [윤서희] - Change from 다믈램 to 다믈랭
  damul-client/public/logo.svg
Due: client-build, client-test

Design : Change admin pages style and info [전종우]
  damul-client/src/components/admin/ReportDetail.tsx
  damul-client/src/components/admin/UserDetail.tsx
  damul-client/src/pages/admin/AdminReportPage.tsx
  damul-client/src/pages/admin/AdminUserPage.tsx
Due: client-build, client-test

Remove: Remove gitlab pipeline[한재서]
  .gitlab-ci.yml
Due: none

Chore: Add file to solve conflict[한재서]
  forcommit.txt
Due: none

Feat : Add S3 Service and S3Config [지유림]
  damul-server/build.gradle
  damul-server/src/main/java/com/damul/api/config/S3Config.java
  damul-server/src/main/java/com/damul/api/config/WebMvcConfig.java
  damul-server/src/main/java/com/damul/api/config/service/S3Service.java
  damul-server/src/main/java/com/damul/api/file/dto/request/FileInfo.java
  damul-server/src/main/java/com/damul/api/file/dto/response/FileResponse.java
  damul-server/src/main/java/com/damul/api/file/dto/type/FileType.java
  damul-server/src/main/java/com/damul/api/file/service/FileService.java
  damul-server/src/main/java/com/damul/api/user/controller/UserController.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Remove: Gitlab-ci file [윤서희]
  .gitlab-ci.yml
Due: none

Chore : Add Jenkinsfile [윤서희]
  Jenkinsfile
Due: none
