Repository rpeowiqu/damul: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client-build, server-build, client-test, server-test

client-build:
  tags:
  - docker
  image: docker:latest
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN
  script:
  - docker build -t $CLIENT_DOCKER_IMAGE ./damul-client
  - docker push $CLIENT_DOCKER_IMAGE

server-build:
  tags:
  - docker
  image: docker:latest
  stage: build
  services:
  - docker:dind
  before_script:
  - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN
  script:
  - docker build -t $SERVER_DOCKER_IMAGE ./damul-server
  - docker push $SERVER_DOCKER_IMAGE

client-test:
  tags:
  - docker
  stage: test
  image: node:16
  script:
  - cd damul-client
  - npm ci
  - npm run test

server-test:
  tags:
  - docker
  stage: test
  image: gradle:8.12-jdk17
  script:
  - cd damul-server
  - gradle clean test

Feat : Add send image in chat room [윤서희]
  damul-client/src/components/chat/ChattingBubble.tsx
  damul-client/src/hooks/useChattingSubscription.ts
  damul-client/src/pages/chat/ChattingRoomPage.tsx
  damul-client/src/types/chatting.ts
Due: client-build, client-test

Fix: Bugfix with sse response and chat[한재서]
  damul-server/src/main/java/com/damul/api/common/scroll/util/ScrollUtil.java
  damul-server/src/main/java/com/damul/api/common/sse/service/SseService.java
  damul-server/src/main/java/com/damul/api/main/controller/HomeController.java
Due: server-build, server-test

Fix : Fix modal, drawer all closed issue [전종우]
  damul-client/src/components/common/ReportButton.tsx
  damul-client/src/components/community/PostRecipeIngrediants.tsx
  damul-client/src/components/community/PostRecipeOrders.tsx
  damul-client/src/components/profile/BadgeShowcase.tsx
  damul-client/src/components/signup/TermForm.tsx
  damul-client/src/hooks/useCloseOnBack.ts
  damul-client/src/pages/community/CommunityMarketPostPage.tsx
  damul-client/src/pages/community/CommunityRecipePostPage.tsx
  damul-client/src/pages/statistics/StatisticsHistoryPage.tsx
  damul-client/src/stores/overlayStore.ts
Due: client-build, client-test

Fix : Modify Styled code, fix getExpirationDate Fn logic because of feedback [신성우]
  damul-client/src/components/home/IngredientButton.tsx
  damul-client/src/components/home/IngredientDetail.tsx
  damul-client/src/components/home/IngredientStorageContainer.tsx
  damul-client/src/components/svg/CancelIcon.tsx
  damul-client/src/constants/initialData.ts
  damul-client/src/pages/home/HomePage.tsx
Due: client-build, client-test

Fix : Fix alarm num in header to synchronize [윤서희]
  damul-client/src/components/alarm/AlarmItem.tsx
  damul-client/src/components/common/Header.tsx
  damul-client/src/hooks/useAlarmSubscription.ts
  damul-client/src/pages/alarm/AlarmPage.tsx
  damul-client/src/stores/alarmStore.ts
Due: client-build, client-test

Comment : Remove unneeded comment [윤서희]
  damul-client/src/components/common/Header.tsx
Due: client-build, client-test

Fix : Fix alarm num in header to synchronize [윤서희]
  damul-client/src/components/alarm/AlarmItem.tsx
  damul-client/src/components/common/Header.tsx
  damul-client/src/pages/alarm/AlarmPage.tsx
Due: client-build, client-test

Fix : Check nickname validation check reset only nickname input changed [전종우]
  damul-client/src/components/signup/InfoForm.tsx
Due: client-build, client-test

Fix: Bugfix[한재서] - save image message's content "사진을 보냈습니다." - bugfix with get chat messages infinity scroll - modify calculate user badge scheduling
  damul-server/src/main/java/com/damul/api/chat/repository/ChatMessageRepository.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatMessageServiceImpl.java
  damul-server/src/main/java/com/damul/api/common/scroll/util/ScrollUtil.java
  damul-server/src/main/java/com/damul/api/main/dto/OcrDto.java
  damul-server/src/main/java/com/damul/api/mypage/entity/UserBadge.java
  damul-server/src/main/java/com/damul/api/mypage/repository/BadgeRepository.java
  damul-server/src/main/java/com/damul/api/mypage/repository/UserBadgeRepository.java
  damul-server/src/main/java/com/damul/api/mypage/service/BadgeService.java
Due: server-build, server-test

Chore: add logs for OcrList[한재서]
  damul-server/src/main/java/com/damul/api/main/controller/HomeController.java
Due: server-build, server-test

Chore: add logs for OcrList[한재서]
  damul-server/src/main/java/com/damul/api/main/service/HomeServiceImpl.java
Due: server-build, server-test

Chore: add logs for OcrList[한재서]
  damul-server/src/main/java/com/damul/api/config/RedisConfig.java
Due: server-build, server-test

Refactor: change gpt2 to document [윤혜진]
  damul-ocr/__pycache__/main.cpython-39.pyc
  damul-ocr/main.py
  damul-ocr/services/__pycache__/gpt_service.cpython-39.pyc
  damul-ocr/services/__pycache__/ocr_service.cpython-39.pyc
  damul-ocr/services/kogpt2_service.py
Due: none

Fix: add remove emitter logic[한재서]
  damul-server/src/main/java/com/damul/api/common/sse/service/SseService.java
Due: server-build, server-test

Chore: add sse uri permitall[한재서]
  damul-server/src/main/java/com/damul/api/common/sse/service/SseService.java
  damul-server/src/main/java/com/damul/api/config/SecurityConfig.java
Due: server-build, server-test

Fix: Bugfix with sender's total unreadcount less than 0[한재서]
  damul-server/src/main/java/com/damul/api/chat/service/ChatMessageServiceImpl.java
  damul-server/src/main/java/com/damul/api/chat/service/UnreadMessageService.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Chore: modify redisTemplate in HomeService[한재서]
  damul-server/src/main/java/com/damul/api/main/service/HomeServiceImpl.java
Due: server-build, server-test

Chore: modify active status[한재서]
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Fix: remove convert to json logic[한재서]
  damul-server/src/main/java/com/damul/api/common/sse/service/SseService.java
Due: server-build, server-test

Design : Add storage props because of Door style [신성우]
  damul-client/src/components/home/RefrigeratorDoor.tsx
  damul-client/src/pages/home/HomePage.tsx
Due: client-build, client-test

Design : Modify Style code [신성우]
  damul-client/src/components/common/DamulModal.tsx
  damul-client/src/components/home/IngredientButton.tsx
  damul-client/src/components/home/IngredientDetail.tsx
  damul-client/src/components/home/IngredientItem.tsx
  damul-client/src/components/home/IngredientStorageContainer.tsx
  damul-client/src/components/home/MenuButton.tsx
  damul-client/src/components/home/OcrButton.tsx
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
  damul-client/tailwind.config.js
Due: client-build, client-test

Feat : Add skeleton code to Carousel [신성우]
  damul-client/src/components/common/DamulCarousel.tsx
Due: client-build, client-test

Fix : Change Modal, Drawer management [전종우]
  damul-client/src/components/common/DamulModal.tsx
  damul-client/src/components/common/ReportButton.tsx
  damul-client/src/components/community/AuthorInfo.tsx
  damul-client/src/components/community/CommentItem.tsx
  damul-client/src/components/community/CommentsSection.tsx
  damul-client/src/components/community/ReplyItem.tsx
  damul-client/src/components/profile/BadgeShowcase.tsx
  damul-client/src/pages/community/CommunityRecipeDetailPage.tsx
  damul-client/src/pages/community/CommunityRecipeMainPage.tsx
  damul-client/src/pages/statistics/StatisticsHistoryPage.tsx
  damul-client/src/stores/overlayStore.ts
Due: client-build, client-test

Chore : Add Suspense fallback Loading component [신성우]
  damul-client/src/components/common/Layout.tsx
  damul-client/src/components/common/Loading.tsx
  damul-client/src/components/common/OcrLoading.tsx
  damul-client/src/pages/admin/AdminPage.tsx
  damul-client/src/pages/community/CommunityPage.tsx
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
  damul-client/src/pages/home/HomePage.tsx
  damul-client/src/pages/profile/ProfilePage.tsx
  damul-client/src/pages/statistics/StatisticsPage.tsx
  damul-client/src/routes/router.tsx
Due: client-build, client-test

Fix: Bugfix for get chat messages[한재서]
  damul-server/src/main/java/com/damul/api/chat/repository/ChatMessageRepository.java
  damul-server/src/main/java/com/damul/api/chat/service/ChatMessageServiceImpl.java
  damul-server/src/main/java/com/damul/api/common/sse/service/SseService.java
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Design : Improve Ui and fix typos [전종우]
  damul-client/src/components/community/PostCard.tsx
  damul-client/src/components/community/PostRecipeIngrediantForm.tsx
  damul-client/src/components/community/SubmitButton.tsx
  damul-client/src/pages/community/CommunityMarketPostPage.tsx
  damul-client/src/pages/community/CommunityRecipePostPage.tsx
  damul-client/src/pages/profile/ProfileRecipePage.tsx
  damul-client/src/pages/statistics/StatisticsTrendPage.tsx
Due: client-build, client-test

Fix: Bugfix with chat[한재서]
  damul-server/src/main/java/com/damul/api/chat/service/ChatMessageServiceImpl.java
Due: server-build, server-test

Fix : Modify code rollback [신성우]
  damul-client/src/pages/home/HomePage.tsx
Due: client-build, client-test

Fix: Bugfix for increase user's unread message count[한재서]
  damul-server/src/main/java/com/damul/api/chat/service/WebSocketServiceImpl.java
Due: server-build, server-test

Fix: Bugfix for increase user's unread message count[한재서]
  damul-server/src/main/resources/application.yml
Due: server-build, server-test

Fix : Mark messages as marked [윤서희]
  damul-client/src/components/chat/ChattingBubble.tsx
  damul-client/src/components/chat/ChattingRoomInfiniteScroll.tsx
  damul-client/src/components/footer/ChatAlram.tsx
  damul-client/src/components/footer/Tab.tsx
  damul-client/src/hooks/useAlarmSubscription.ts
  damul-client/src/pages/chat/ChattingMainPage.tsx
  damul-client/src/pages/chat/ChattingRoomPage.tsx
  damul-client/src/stores/alarmStore.ts
  damul-client/src/utils/date.ts
Due: client-build, client-test

Fix : Fix date format [윤서희]
  damul-client/src/utils/date.ts
Due: client-build, client-test

Fix : Modify accept response data code [신성우]
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
  damul-client/src/pages/qrcode/QrCodePage.tsx
Due: client-build, client-test

Chore : Add complete screen [신성우]
  damul-client/src/pages/qrcode/QrCodePage.tsx
Due: client-build, client-test

Fix: Bugfix with image send[한재서]
  damul-server/src/main/java/com/damul/api/chat/service/ChatMessageServiceImpl.java
Due: server-build, server-test

Fix : Scroll size [윤서희]
  damul-client/src/pages/chat/ChattingRoomPage.tsx
Due: client-build, client-test

Chore : Add debug log [신성우]
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
Due: client-build, client-test

Test : Test SSE response [신성우]
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
Due: client-build, client-test

Test : TEST SSE Response data [신성우]
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
Due: client-build, client-test

Test : Test sse resposne [신성우]
  damul-client/src/pages/home/HomeIngredientsRegisterPage.tsx
Due: client-build, client-test

Path conditions:
  client-build: any of: damul-client/**/*
  server-build: any of: damul-server/**/*
  client-test: any of: damul-client/**/*
  server-test: any of: damul-server/**/*
